workflows/Backups to Google Drive.json
{"updatedAt":"2025-11-17T15:11:25.000Z","createdAt":"2025-10-27T18:45:45.722Z","id":"JbfhqYGwgj8bZA77","name":"Backups to Google Drive","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"f3eba5f7-534e-4eaa-ac84-850d51ff2936","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[1152,272],"typeVersion":1},{"parameters":{"options":{"reset":false}},"id":"383e4bed-38ec-4b2f-890c-9b0d9cda8e11","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1680,752],"typeVersion":3},{"parameters":{"rule":{"interval":[{}]}},"id":"38c4c909-fa18-4fa3-abf5-6b9bd2d46718","name":"Every Day","type":"n8n-nodes-base.scheduleTrigger","position":[1152,480],"typeVersion":1.2},{"parameters":{"resource":"folder","name":"=n8n-Workflow-Backups-{{ $json.datetime }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1NJAS8jNi0Rbeaw2HG7UbQQhJgGgDzSqM","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://drive.google.com/drive/folders/1NJAS8jNi0Rbeaw2HG7UbQQhJgGgDzSqM"},"options":{}},"id":"67f62b6e-fe37-4638-89ce-9fe1de041282","name":"Create Folder with DateTime Stamp","type":"n8n-nodes-base.googleDrive","position":[1760,368],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"s7x3cMrH0qO4NULl","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2589e80c-e8c3-4872-bd7a-d3e92f4a6ab7","name":"datetime","type":"string","value":"={{ $now }}"}]},"options":{}},"id":"cfbda56a-2d14-4d64-b40d-89961c0cf0f4","name":"Get DateTIme","type":"n8n-nodes-base.set","position":[1456,368],"typeVersion":3.4},{"parameters":{"filters":{},"requestOptions":{}},"id":"93e8097f-9e7d-49ff-9133-4fd8590f7e31","name":"Get Workflows","type":"n8n-nodes-base.n8n","position":[2048,368],"typeVersion":1,"credentials":{"n8nApi":{"id":"gI5V6z5CiUDG4aaX","name":"n8n account 2"}}},{"parameters":{"maxItems":200},"id":"d848ce1d-beb7-4e25-82ac-ed0e8f9523e0","name":"Limit to 200","type":"n8n-nodes-base.limit","position":[2352,368],"typeVersion":1},{"parameters":{"operation":"toJson","options":{"fileName":"={{ $json.name }}"}},"id":"18f61908-97ce-478c-8544-cfedef22a94c","name":"Convert Workflow to JSON File","type":"n8n-nodes-base.convertToFile","position":[1936,752],"typeVersion":1.1},{"parameters":{"name":"={{ $binary.data.fileName }}.json","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Create Folder with DateTime Stamp').item.json.id }}","mode":"id"},"options":{}},"id":"97690d84-a0cd-4169-83a8-e4f1d189837e","name":"Save JSON File to Google Drive Folder","type":"n8n-nodes-base.googleDrive","position":[2128,752],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"s7x3cMrH0qO4NULl","name":"Google Drive account"}}},{"parameters":{},"id":"452c0ce8-6e1f-41d7-a94c-25c7abbc32ad","name":"Execute Once","type":"n8n-nodes-base.noOp","position":[1520,1120],"executeOnce":true,"typeVersion":1},{"parameters":{"resource":"fileFolder","queryString":"n8n-Workflow-Backups","limit":10,"filter":{"whatToSearch":"folders"},"options":{}},"id":"aadc54d7-2458-4b5b-aa65-07aff52626d2","name":"Search Folder Names","type":"n8n-nodes-base.googleDrive","position":[1712,1120],"executeOnce":true,"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"s7x3cMrH0qO4NULl","name":"Google Drive account"}}},{"parameters":{"resource":"folder","operation":"deleteFolder","folderNoRootId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"deletePermanently":true}},"id":"fcb210bf-4947-4178-b85a-8425eb72d937","name":"Delete Folders","type":"n8n-nodes-base.googleDrive","position":[2128,1120],"typeVersion":3,"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"s7x3cMrH0qO4NULl","name":"Google Drive account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Get all input items and sort by name in descending order\nconst sortedItems = $input.all().sort((a, b) => {\n  if (!a.name || !b.name) return 0;\n  return b.name.localeCompare(a.name);\n});\n\n// Get items older than 7 days\nconst olderItems = sortedItems.slice(7);\n\nreturn olderItems\n\n"},"id":"36182be7-f575-4f28-8d63-39802b8428ba","name":"Find Folders to Delete","type":"n8n-nodes-base.code","position":[1936,1120],"typeVersion":2}],"connections":{"Every Day":{"main":[[{"node":"Get DateTIme","type":"main","index":0}]]},"Execute Once":{"main":[[{"node":"Search Folder Names","type":"main","index":0}]]},"Get DateTIme":{"main":[[{"node":"Create Folder with DateTime Stamp","type":"main","index":0}]]},"Limit to 200":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get Workflows":{"main":[[{"node":"Limit to 200","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Execute Once","type":"main","index":0}],[{"node":"Convert Workflow to JSON File","type":"main","index":0}]]},"Search Folder Names":{"main":[[{"node":"Find Folders to Delete","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Get DateTIme","type":"main","index":0}]]},"Find Folders to Delete":{"main":[[{"node":"Delete Folders","type":"main","index":0}]]},"Convert Workflow to JSON File":{"main":[[{"node":"Save JSON File to Google Drive Folder","type":"main","index":0}]]},"Create Folder with DateTime Stamp":{"main":[[{"node":"Get Workflows","type":"main","index":0}]]},"Save JSON File to Google Drive Folder":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"timezone":"Asia/Kolkata","callerPolicy":"workflowsFromSameOwner","executionOrder":"v0","availableInMCP":false,"errorWorkflow":"JbfhqYGwgj8bZA77"},"staticData":{"node:Every Day":{"recurrenceRules":[]}},"meta":{"templateId":"2983","templateCredsSetupCompleted":true},"pinData":{},"versionId":"f9c7d019-64df-4f06-9b3c-2be6e8587c2d","triggerCount":1,"shared":[{"updatedAt":"2025-10-27T18:45:45.772Z","createdAt":"2025-10-27T18:45:45.772Z","role":"workflow:owner","workflowId":"JbfhqYGwgj8bZA77","projectId":"U9gNtcfNPVWYu387"}],"tags":[]}