workflows/Backup workflows to git repository.json
{"updatedAt":"2025-12-14T17:15:50.000Z","createdAt":"2025-12-14T17:15:50.512Z","id":"ZT9qRa6aBixguPOo","name":"Backup workflows to git repository","active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"=https://github.com/vignesh-potharaj","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/vignesh-potharaj/n8n","mode":"url"},"filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"8494eaf3-372b-452e-9f2c-41062d1e4aa1","name":"GitHub","type":"n8n-nodes-base.github","position":[528,192],"typeVersion":1,"alwaysOutputData":true,"webhookId":"2043ef38-2609-4ab1-8268-eaf8efcba9de","credentials":{"githubOAuth2Api":{"id":"TB7JzHencxKS9wzl","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"shashikanth171"},{"name":"repo.name","value":"n8n-backup"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"71378d19-0bce-40d6-a33e-1eaa6089b79b","name":"Globals","type":"n8n-nodes-base.set","position":[-176,112],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"abe91dc9-9bf6-45ee-b1e7-bf15e164bfd9","name":"n8n","type":"n8n-nodes-base.n8n","position":[64,112],"typeVersion":1,"credentials":{"n8nApi":{"id":"gI5V6z5CiUDG4aaX","name":"n8n account 2"}}},{"parameters":{"options":{}},"id":"832b594d-6940-498f-99bf-e8c9330e3735","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[288,112],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"5fdef606-08da-4281-9d31-cd907fdfc9ad","name":"If","type":"n8n-nodes-base.if","position":[720,192],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"a0d7c33e-fb75-4122-8d5a-81f93902d98f","name":"If1","type":"n8n-nodes-base.if","position":[1600,464],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"3c1a6933-d2ed-47c9-96e5-91c00bc7eb51","name":"Code","type":"n8n-nodes-base.code","position":[1280,160],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"2b79b77a-1fa0-4953-8d9c-bc55d540f410","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[912,352],"typeVersion":1,"webhookId":"e379838e-5fdb-475b-9c40-b93bc4141a78"},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"c3750704-1ad6-4f80-aa2c-50278fa15394","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[1968,672],"typeVersion":1,"webhookId":"877e37ff-0be5-4487-9e29-3f4dd6b1f9bb"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"28a15f88-61c7-48a1-8d9f-8e2e9eebed75","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-400,112],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"37b89c6b-7dc7-485d-8e0c-0c74248c81b9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2128,688],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"b59ba10a-70e3-4e6a-9f90-51d089e43e5d","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1744,464],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"b56c6949-0cb4-4dec-ba56-894d84ed4567","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1024,368],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"781f76a6-d665-4332-b72d-ad3ca573fec2","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[720,80],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"68aa4abd-6e73-4ef6-be9b-7cf935d3a9e1","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1232,64],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"887d7651-0bc5-4898-a430-0fe956cd9d9c","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"602d6462-7d81-4adc-9cc3-c42b0d93950c","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-256,240],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1f45ca7b-05f0-4a94-8e78-bd49d502853b","triggerCount":0,"shared":[{"updatedAt":"2025-12-14T17:15:50.518Z","createdAt":"2025-12-14T17:15:50.518Z","role":"workflow:owner","workflowId":"ZT9qRa6aBixguPOo","projectId":"U9gNtcfNPVWYu387"}],"tags":[]}