workflows/bookAppointment copy.json
{"updatedAt":"2025-10-28T18:25:48.000Z","createdAt":"2025-10-28T18:14:16.073Z","id":"piej4iMz0HRtWwh7","name":"bookAppointment copy","active":false,"isArchived":true,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"appointmentStartTime"},{"name":"firstName"},{"name":"lastName"},{"name":"phoneNumber"},{"name":"email"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"95682a16-94a0-4279-8bf5-3c1e0e9271fc","name":"When Executed by Another Workflow"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"13Nc_RyuES7d-OnG8cHB5TNA9UMnQx6nX6iWaqFRHbLk","mode":"list","cachedResultName":"Appointments","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13Nc_RyuES7d-OnG8cHB5TNA9UMnQx6nX6iWaqFRHbLk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13Nc_RyuES7d-OnG8cHB5TNA9UMnQx6nX6iWaqFRHbLk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Appointment ID":"={{ $json.data.uid }}","First Name":"={{ $('When Executed by Another Workflow').item.json.firstName }}","Last Name":"={{ $('When Executed by Another Workflow').item.json.lastName }}","Date":"={{ $json.data.start }}","Phone Number":"={{ $('When Executed by Another Workflow').item.json.phoneNumber }}","Email":"={{ $('When Executed by Another Workflow').item.json.email }}"},"matchingColumns":[],"schema":[{"id":"Appointment ID","displayName":"Appointment ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[448,0],"id":"6cfc68a9-9e7d-42ab-bfa5-106d96a30a8f","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"A93SEgEFhN0uUEvn","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://api.cal.com/v2/bookings","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"cal-api-version","value":"2024-08-13"},{"name":"timeZone","value":"Asia/Kolkata"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"start\": \"{{ $json.appointmentStartTime.replace(\"Z\",\"\")}}\",\n  \"attendee\": {\n    \"name\": \"{{ $json.firstName }} {{ $json.lastName }}\",\n    \"timeZone\": \"Asia/Kolkata\",\n    \"phoneNumber\": \"{{ $json.phoneNumber }}\",\n    \"email\": \"{{ $json.email }}\"\n},\n\"metadata\": {\n    \"key\": \"value\"\n  },\n  \"eventTypeId\": 3661613\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,0],"id":"9f880156-8ea5-4c71-bdfd-ad750f1a5bd5","name":"HTTP Request1","credentials":{"httpHeaderAuth":{"id":"H8shXxQQRFprA2Vt","name":"Header Auth account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"28f5622b-524a-41e2-9e7c-d3c11e6368a7","triggerCount":0,"shared":[{"updatedAt":"2025-10-28T18:14:16.094Z","createdAt":"2025-10-28T18:14:16.094Z","role":"workflow:owner","workflowId":"piej4iMz0HRtWwh7","projectId":"U9gNtcfNPVWYu387"}],"tags":[]}