workflows/bookAppointment.json
{"updatedAt":"2025-11-14T18:44:58.000Z","createdAt":"2025-10-27T20:42:42.178Z","id":"RIvTGcIIx3zSsHiZ","name":"bookAppointment","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"appointmentStartTime"},{"name":"firstName"},{"name":"lastName"},{"name":"phoneNumber"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"71058153-8cfa-432a-b1dc-b170a88f299d","name":"When Executed by Another Workflow"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"13Nc_RyuES7d-OnG8cHB5TNA9UMnQx6nX6iWaqFRHbLk","mode":"list","cachedResultName":"Appointments","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13Nc_RyuES7d-OnG8cHB5TNA9UMnQx6nX6iWaqFRHbLk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13Nc_RyuES7d-OnG8cHB5TNA9UMnQx6nX6iWaqFRHbLk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Appointment ID":"={{ $json.data.uid }}","First Name":"={{ $('When Executed by Another Workflow').item.json.firstName }}","Last Name":"={{ $('When Executed by Another Workflow').item.json.lastName }}","Date":"={{ $json.data.start }}","Phone Number":"={{ $('When Executed by Another Workflow').item.json.phoneNumber }}"},"matchingColumns":[],"schema":[{"id":"Appointment ID","displayName":"Appointment ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[448,0],"id":"c62dcd83-8808-411a-a4ca-3c0161c9b114","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Jq09Meog913FLbb3","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://api.cal.com/v2/bookings","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"cal-api-version","value":"2024-08-13"},{"name":"timeZone","value":"Asia/Kolkata"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"start\": \"{{ $json.appointmentStartTime.replace('Z','')}}\",\n  \"attendee\": {\n    \"name\": \"{{ $json.firstName }} {{ $json.lastName }}\",\n    \"timeZone\": \"Asia/Kolkata\",\n    \"phoneNumber\": \"{{ $json.phoneNumber }}\",\n    \"email\": \"asd@gmail.com\"\n  },\n  \"metadata\": {\n    \"key\": \"value\"\n  },\n  \"eventTypeId\": 3661613\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,0],"id":"cae8a16d-294f-4676-9c05-9a6d1e331357","name":"HTTP Request1","credentials":{"httpHeaderAuth":{"id":"Awtz7EIl13RXX3tP","name":"Header Auth account 2"}}},{"parameters":{"sendTo":"freelancer.nenu@gmail.com","subject":"=New Appointment Scheduled ","emailType":"text","message":"=A new appointment has been booked. Name:{{ $json[\"First Name\"] }} {{ $json[\"Last Name\"] }}\nDate & Time: {{ $json.Date }} \nPhone: {{ $json[\"Phone Number\"] }} \nAppointment ID:{{ $json[\"Appointment ID\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[656,0],"id":"3c5667c6-4094-43b0-acb6-27435247496b","name":"Send a message","webhookId":"839adb4a-3513-4e63-921a-e5c8e08986eb","credentials":{"gmailOAuth2":{"id":"IjWwGVWckYpDGMoM","name":"Gmail account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"appointmentStartTime":"2025-11-07T09:00:00+05:30","firstName":"vijay","lastName":"prasadh","phoneNumber":"9866491907"}}],"HTTP Request1":[{"json":{"status":"success","data":{"id":12766181,"uid":"tkjJ2RqYs9UpNsiupoQRA1","title":"30 Min Meeting between VIGNESH POTHARAJ and Mahesh Babu","description":"","hosts":[{"id":1845661,"name":"VIGNESH POTHARAJ","email":"freelancer.nenu@gmail.com","username":"vignesh-potharaj-s0a6az","timeZone":"Asia/Calcutta"}],"status":"accepted","rescheduledByEmail":null,"start":"2025-11-15T03:30:00.000Z","end":"2025-11-15T04:00:00.000Z","duration":30,"eventTypeId":3661613,"eventType":{"id":3661613,"slug":"30min"},"meetingUrl":"https://app.cal.com/video/tkjJ2RqYs9UpNsiupoQRA1","location":"https://app.cal.com/video/tkjJ2RqYs9UpNsiupoQRA1","absentHost":false,"createdAt":"2025-11-14T07:45:58.431Z","updatedAt":"2025-11-14T07:45:59.482Z","metadata":{"key":"value"},"rating":null,"icsUid":"tkjJ2RqYs9UpNsiupoQRA1@Cal.com","attendees":[{"name":"Mahesh Babu","email":"asd@gmail.com","timeZone":"Asia/Kolkata","language":"en","absent":false,"phoneNumber":"9866491907"}],"bookingFieldsResponses":{"email":"asd@gmail.com","attendeePhoneNumber":"9866491907","name":"Mahesh Babu"}}}}]},"versionId":"183eae50-ddcd-4d16-948a-f2cd180dde76","triggerCount":0,"shared":[{"updatedAt":"2025-10-27T20:42:42.196Z","createdAt":"2025-10-27T20:42:42.196Z","role":"workflow:owner","workflowId":"RIvTGcIIx3zSsHiZ","projectId":"U9gNtcfNPVWYu387"}],"tags":[]}