workflows/call_assi.json
{"updatedAt":"2025-12-11T16:44:19.000Z","createdAt":"2025-10-27T18:25:38.997Z","id":"eQO1bX8fadDwNvMu","name":"call_assi","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const phoneNumber = $input.first().json.body.message.call?.customer?.number ?? $input.first().json.body.message.toolCalls[0].function.arguments.phoneNumber\n  \nreturn {phoneNumber}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"495db161-4b96-492a-9ad0-86dc38369866","name":"Get phone number","disabled":true},{"parameters":{"description":"This tool's purpose is to cancel an appointment","workflowId":{"__rl":true,"value":"qJMnBdEthjId0vbd","mode":"list","cachedResultUrl":"/workflow/qJMnBdEthjId0vbd","cachedResultName":"cancel_appointment"},"workflowInputs":{"mappingMode":"defineBelow","value":{"appointmentId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointmentId', ``, 'string') }}"},"matchingColumns":["appointmentId"],"schema":[{"id":"appointmentId","displayName":"appointmentId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[528,416],"id":"f39f200d-f7a5-4115-8836-4fadf45f9b4c","name":"cancelAppointment"},{"parameters":{"description":"This tool's purpose is to reschedule the appointment for the user","workflowId":{"__rl":true,"value":"i4ywe4sK8CvhockA","mode":"list","cachedResultUrl":"/workflow/i4ywe4sK8CvhockA","cachedResultName":"reschedule_appointment"},"workflowInputs":{"mappingMode":"defineBelow","value":{"appointmentId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointmentId', ``, 'string') }}","appointmentDate":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointmentDate', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"appointmentId","displayName":"appointmentId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"appointmentDate","displayName":"appointmentDate","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[688,416],"id":"85f58800-5a87-4328-b9d4-1410e947aee6","name":"rescheduleAppointment"},{"parameters":{"description":"This tool will be responsible for booking a new appointment in the calendar","workflowId":{"__rl":true,"value":"RIvTGcIIx3zSsHiZ","mode":"list","cachedResultUrl":"/workflow/RIvTGcIIx3zSsHiZ","cachedResultName":"bookAppointment"},"workflowInputs":{"mappingMode":"defineBelow","value":{"appointmentStartTime":"={{ $json.body.message.toolCallList[0].function.arguments.preferredTime }}","firstName":"={{ $json.body.message.toolCallList[0].function.arguments.firstName }}","lastName":"={{ $json.body.message.toolCallList[0].function.arguments.lastName }}","phoneNumber":"={{ $json.body.message.toolCallList[0].function.arguments.phoneNumber }}"},"matchingColumns":[],"schema":[{"id":"appointmentStartTime","displayName":"appointmentStartTime","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[848,416],"id":"9c11a3ce-7d89-46d1-af88-21ec1327ef29","name":"bookAppointment"},{"parameters":{"promptType":"define","text":"=You are assisting with appointment scheduling.\n\nInput:\n- toolCallName\n- preferredTime\n- firstName\n- lastName\n- appointmentId\n- appointmentDate\n\nOutput:\nReturn only JSON specifying what action to perform, using the provided arguments. No explanation.\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[320,192],"id":"b85bb6f9-2cbf-44e2-a765-cf5b507b1030","name":"AI Agent1","executeOnce":false},{"parameters":{"httpMethod":"POST","path":"e0eb2929-3f5d-48ea-ba3c-cec29f87010c","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-304,176],"id":"cc500a08-b6fc-4f42-8664-3336608981b9","name":"Webhook1","webhookId":"e0eb2929-3f5d-48ea-ba3c-cec29f87010c","executeOnce":false},{"parameters":{"respondWith":"json","responseBody":"={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Webhook1').item.json.body.message.toolCalls[0].id }}\",\n      \"result\": \"{{ $json.output.replaceAll(\"\\n\", \"\").replace(/\"([^\"]+)\"/g, '\\\\\"$1\\\\\"') }}\"\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[864,176],"id":"4382f5fa-8815-4d95-a1e2-62f1a5e8d887","name":"Respond to Webhook"},{"parameters":{"description":"This tool will check for available timeslots and return their start time","workflowId":{"__rl":true,"value":"25L7BjNxaV3gQnx0","mode":"list","cachedResultUrl":"/workflow/25L7BjNxaV3gQnx0","cachedResultName":"getAvailability"},"workflowInputs":{"mappingMode":"defineBelow","value":{"startTime":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('startTime', ``, 'string') }}","endTime":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('endTime', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"startTime","displayName":"startTime","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"endTime","displayName":"endTime","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[304,400],"id":"b3923ed8-896b-4a17-840c-3d985fbab81c","name":"getAvailability"},{"parameters":{"description":"This tool will retrieve the existing appointment for the patient","workflowId":{"__rl":true,"value":"zZLxKOn5DyLfS8Ho","mode":"list","cachedResultUrl":"/workflow/zZLxKOn5DyLfS8Ho","cachedResultName":"getAppointment"},"workflowInputs":{"mappingMode":"defineBelow","value":{"appointmentId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointmentId', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"appointmentId","displayName":"appointmentId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[416,400],"id":"a5281f99-3f80-4108-961b-c60ea8b1be9f","name":"getAppointment"},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[160,416],"id":"dc85af03-53d2-44cc-bfec-dd05b8508b74","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"XSn9XzQHlwmEulem","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"jsCode":"// n8n Function node — \"filter + map\" for Vapi → AI Agent integration\n// Returns a compact, safe object with all the template variables your prompt expects.\n//\n// Paste this into an n8n Function node. It expects the incoming webhook JSON at $json\n// and returns one item: item.json contains the mapped fields.\n\nconst body = $json[\"body\"] || {};\nconst message = body.message || {};\n\n// Helper: find the toolCall in multiple possible places\nconst toolCall =\n  (message.toolCalls && message.toolCalls[0]) ||\n  (message.toolCallList && message.toolCallList[0]) ||\n  (message.toolWithToolCallList && message.toolWithToolCallList[0] && message.toolWithToolCallList[0].toolCall) ||\n  null;\n\n// Safe parser for possibly stringified arguments\nfunction parseArgs(raw) {\n  if (!raw) return {};\n  if (typeof raw === \"object\") return raw;\n  if (typeof raw === \"string\") {\n    try {\n      return JSON.parse(raw);\n    } catch (e) {\n      // fallback: simple key=value pairs or raw string\n      return { rawString: raw };\n    }\n  }\n  return {};\n}\n\n// Find last user message (best-effort)\nfunction findLastUserMessage(artifact, messageFallback) {\n  if (!artifact) return messageFallback || \"\";\n  const msgs = artifact.messagesOpenAIFormatted || artifact.messages || [];\n  for (let i = msgs.length - 1; i >= 0; i--) {\n    const m = msgs[i];\n    if (!m) continue;\n    // support both formats: {role, content} and {role, message}\n    const role = (m.role || \"\").toString().toLowerCase();\n    const text = m.content || m.message || \"\";\n    if (role === \"user\" || role === \"human\") return text;\n    // fallback heuristics: treat any item with content and not system as user\n    if (text && role && role !== \"system\" && role !== \"assistant\") return text;\n  }\n  return messageFallback || \"\";\n}\n\nconst args = parseArgs(toolCall && toolCall.function && toolCall.function.arguments);\nconst toolName = (toolCall && ((toolCall.function && toolCall.function.name) || toolCall.name)) || null;\n\nconst artifact = message.artifact || {};\nconst lastUserMessage = findLastUserMessage(artifact, message.text || message.message || \"\");\n\n// Heuristics for name and phone if not provided explicitly\nlet firstName = args.firstName || null;\nlet lastName = args.lastName || null;\nlet fullName = args.name || args.fullName || null;\nlet phone = args.phoneNumber || args.mobile || args.phone || null;\n\nif (!fullName && lastUserMessage) {\n  const nameMatch = lastUserMessage.match(/(?:for|booking for|new booking for|book)\\s+([A-Z][a-z]+(?:\\s[A-Z][a-z]+)*)/i);\n  if (nameMatch) fullName = nameMatch[1];\n}\n\nif (!phone && lastUserMessage) {\n  const phoneMatch = lastUserMessage.match(/(\\+?\\d[\\d\\-\\s]{7,}\\d)/);\n  if (phoneMatch) phone = phoneMatch[0].replace(/\\s+/g, \"\");\n}\n\n// split fullName into first/last if needed\nif (!firstName && fullName) {\n  const parts = fullName.trim().split(/\\s+/);\n  firstName = parts[0] || null;\n  lastName = parts.length > 1 ? parts.slice(1).join(\" \") : (lastName || null);\n}\n\n// Map all expected template variables (keep nulls if missing)\nconst mapped = {\n  toolCallName: toolName,\n  firstName: firstName || null,\n  lastName: lastName || null,\n  preferredTime: args.preferredTime || null,\n  appointmentTime: args.appointmentTime || null,\n  appointmentReason: args.appointmentReason || null,\n  birthDate: args.birthDate || null,\n  fullName: fullName || null,\n  appointmentDate: args.appointmentDate || null,\n  appointmentId: args.appointmentId || null,\n  lastUserMessage,\n  phoneNumber: phone || null,\n  chatId: (body.chat && body.chat.id) || (body.chatId || null),\n  // Debugging / telemetry (optional)\n  _originalSizeBytes: Buffer.from(JSON.stringify($json)).length,\n  _toolCallRawId: toolCall && toolCall.id ? toolCall.id : null,\n};\n\n// Return the compact mapped object\nreturn [{ json: mapped }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,192],"id":"c50ae0f2-a39f-4378-8ea3-f2a6a0d457bf","name":"Code in JavaScript"}],"connections":{"cancelAppointment":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"rescheduleAppointment":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"bookAppointment":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"AI Agent1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"getAvailability":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"getAppointment":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Respond to Webhook":{"main":[[]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Code in JavaScript":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"headers":{"host":"vince-multigranular-inflatedly.ngrok-free.dev","user-agent":"axios/1.8.3","content-length":"18710","accept":"application/json, text/plain, */*","accept-encoding":"identity","baggage":"sentry-environment=production,sentry-release=ff125d5d8d090aa6ca1fb0d7636022c98b938b3f,sentry-public_key=fac6f282c765ce50b18c3fa0305f8a8b,sentry-trace_id=b0914e493f39457bb91450ff63add8b1","content-type":"application/json","cookie":"callId=","sentry-trace":"b0914e493f39457bb91450ff63add8b1-b72e76ef2300fc6c","traceparent":"00-78ee638c2577f2cbaafc5ef12ddd8fcf-c14e27ae8c77d111-01","x-chat-id":"5e42a7c0-9257-456e-b2fa-9a2f8c008b1a","x-forwarded-for":"170.9.5.187","x-forwarded-host":"vince-multigranular-inflatedly.ngrok-free.dev","x-forwarded-proto":"https","x-vapi-secret":""},"params":{},"query":{},"body":{"message":{"timestamp":1765440264565,"type":"tool-calls","toolCalls":[{"id":"call_lLpEn3EguAfC1o6s2IxgGHEw","type":"function","function":{"name":"checkAvailability","arguments":{"preferredTime":"2025-12-12T09:00:00+05:30"}},"isPrecededByText":true}],"toolCallList":[{"id":"call_lLpEn3EguAfC1o6s2IxgGHEw","type":"function","function":{"name":"checkAvailability","arguments":{"preferredTime":"2025-12-12T09:00:00+05:30"}},"isPrecededByText":true}],"toolWithToolCallList":[{"type":"function","function":{"name":"checkAvailability","parameters":{"type":"object","required":["preferredTime"],"properties":{"preferredTime":{"type":"string","default":"","description":"the preferred time the user wants to book an appointment for example:Next monday, next week or 1st of november\n \"the preferred time in Indian Standard Time (IST) format: YYYY-MM-DDTHH:MM:SS+05:30\"\n"}}},"description":"this tool is responsible for checking availability for the users preferred time for the appointment. Trigger this when the user wants to book a new appointment or reschedule to check for available slots"},"server":{"url":"https://vince-multigranular-inflatedly.ngrok-free.dev/webhook/e0eb2929-3f5d-48ea-ba3c-cec29f87010c","timeoutSeconds":20,"headers":{"X-Chat-Id":"5e42a7c0-9257-456e-b2fa-9a2f8c008b1a"}},"messages":[{"type":"request-start","contents":[],"conditions":[],"blocking":false}],"toolCall":{"id":"call_lLpEn3EguAfC1o6s2IxgGHEw","type":"function","function":{"name":"checkAvailability","arguments":{"preferredTime":"2025-12-12T09:00:00+05:30"}},"isPrecededByText":true}}],"artifact":{"messages":[{"role":"system","message":"## **Role**\n\nYou are **Lisa**, a calling and scheduling, assistant from Dr. Rao's Clinic\nYour job: **help customers with details about clinic or the doctor, schedule, reschedule, or cancel appointments** efficiently with clear, friendly service.\n\n##Key Points (very Important)\n- do not repeat your name or the clinics name after the first message\n-keep the messages short , direct and simple \n\n\nLanguage:\nYou can speak in multiple languages\n recognize the language they are speaking and speak in that language\nif the customer switches their language you do the same without asking them to switch languages\n\n## **Context**\n- Do not invent details.\n- The date is **Dec 11, 2025, 8:03 AM UTC**.\n- All appointment times are in Indian Standard Time (IST)\n- Current time zone: UTC+5:30\n- All tools (checkAvailability, bookAppointment, rescheduleAppointment,getAppointment,cancelAppointment) use Indian Standard Time (IST - UTC+5:30)\n- Appointment times are stored in ISO format with +05:30 offset\n---\n\n##Cl...","time":1765440235894,"secondsFromStart":0},{"role":"bot","message":"Hello, I'm Lisa from  Dr. Rao's Clinic. How can i help you today?","time":1765440235894,"secondsFromStart":0,"endTime":1765440235894},{"role":"user","message":"available slots for tomorrow","time":1765440235895,"secondsFromStart":0,"endTime":1765440235894},{"role":"bot","message":"Got it—are you looking to book for tomorrow? May I have your full name, please?","time":1765440235896,"secondsFromStart":0,"endTime":1765440235894},{"role":"user","message":"devi prasadh","time":1765440235897,"secondsFromStart":0,"endTime":1765440235894},{"role":"bot","message":"Thanks, Devi Prasadh. What time tomorrow would you prefer—morning or afternoon?","time":1765440235898,"secondsFromStart":0,"endTime":1765440235894},{"role":"user","message":"any time","time":1765440235899,"secondsFromStart":0,"endTime":1765440235894},{"toolCalls":[{"id":"call_82QaY7bQgGRUkLr0BrDu4oRj","type":"function","function":{"name":"checkAvailability","arguments":"{\"preferredTime\": \"2025-12-12T09:00:00+05:30\"}"}}],"role":"tool_calls","message":"","time":1765440239115,"secondsFromStart":3.221},{"role":"tool_call_result","time":1765440260420,"secondsFromStart":24.526,"name":"checkAvailability","result":"No result returned. If this is unexpected, see troubleshooting tips at https://docs.vapi.ai/tools/custom-tools-troubleshooting#no-result-returned-error","toolCallId":"call_82QaY7bQgGRUkLr0BrDu4oRj"},{"toolCalls":[{"id":"call_lLpEn3EguAfC1o6s2IxgGHEw","type":"function","function":{"name":"checkAvailability","arguments":"{\"preferredTime\": \"2025-12-12T09:00:00+05:30\"}"}}],"role":"tool_calls","message":"","time":1765440264518,"secondsFromStart":28.624},{"role":"bot","message":"I’m experiencing a brief delay—just a moment. Let me check our availability...","time":1765440235894,"endTime":28627,"secondsFromStart":28.627}],"messagesOpenAIFormatted":[{"role":"system","content":"## **Role**\n\nYou are **Lisa**, a calling and scheduling, assistant from Dr. Rao's Clinic\nYour job: **help customers with details about clinic or the doctor, schedule, reschedule, or cancel appointments** efficiently with clear, friendly service.\n\n##Key Points (very Important)\n- do not repeat your name or the clinics name after the first message\n-keep the messages short , direct and simple \n\n\nLanguage:\nYou can speak in multiple languages\n recognize the language they are speaking and speak in that language\nif the customer switches their language you do the same without asking them to switch languages\n\n## **Context**\n- Do not invent details.\n- The date is **Dec 11, 2025, 8:03 AM UTC**.\n- All appointment times are in Indian Standard Time (IST)\n- Current time zone: UTC+5:30\n- All tools (checkAvailability, bookAppointment, rescheduleAppointment,getAppointment,cancelAppointment) use Indian Standard Time (IST - UTC+5:30)\n- Appointment times are stored in ISO format with +05:30 offset\n---\n\n##Cl..."},{"role":"assistant","content":"Hello, I'm Lisa from  Dr. Rao's Clinic. How can i help you today? I’m experiencing a brief delay—just a moment. Let me check our availability..."},{"role":"user","content":"available slots for tomorrow"},{"role":"assistant","content":"Got it—are you looking to book for tomorrow? May I have your full name, please?"},{"role":"user","content":"devi prasadh"},{"role":"assistant","content":"Thanks, Devi Prasadh. What time tomorrow would you prefer—morning or afternoon?"},{"role":"user","content":"any time"},{"role":"assistant","tool_calls":[{"id":"call_82QaY7bQgGRUkLr0BrDu4oRj","type":"function","function":{"name":"checkAvailability","arguments":"{\"preferredTime\": \"2025-12-12T09:00:00+05:30\"}"}}]},{"role":"tool","tool_call_id":"call_82QaY7bQgGRUkLr0BrDu4oRj","content":"No result returned. If this is unexpected, see troubleshooting tips at https://docs.vapi.ai/tools/custom-tools-troubleshooting#no-result-returned-error"},{"role":"assistant","tool_calls":[{"id":"call_lLpEn3EguAfC1o6s2IxgGHEw","type":"function","function":{"name":"checkAvailability","arguments":"{\"preferredTime\": \"2025-12-12T09:00:00+05:30\"}"}}]},{"role":"tool","tool_call_id":"call_lLpEn3EguAfC1o6s2IxgGHEw","content":"Tool Result Still Pending But Proceed Further If Possible."}]},"chat":{"id":"5e42a7c0-9257-456e-b2fa-9a2f8c008b1a","orgId":"6d3855eb-1238-4e43-a374-e7fc4c5f5b1f","createdAt":"2025-10-16T18:57:33.523Z","updatedAt":"2025-10-25T06:21:02.741Z"},"assistant":{"id":"95b9e678-bad6-442f-b872-72ccaa8d7027","orgId":"6d3855eb-1238-4e43-a374-e7fc4c5f5b1f","name":"lisa","voice":{"model":"eleven_multilingual_v2","voiceId":"JS6C6yu2x9Byh4i1a8lX","provider":"11labs","stability":0.5,"similarityBoost":0.75},"createdAt":"2025-10-18T08:33:55.560Z","updatedAt":"2025-11-06T10:38:08.203Z","model":{"model":"gpt-5","toolIds":["7ba14c91-3c17-4fd0-b97a-223aa3fcf958","6cf16473-7c5e-48cd-9979-68409db1d88d","d18f8068-e1d3-4790-baec-f158c504739f","75971907-57b7-4ee9-83b4-2ad103ce6a98","9c671c0f-bd9b-420f-9919-33b9c13a2945"],"messages":[{"role":"system","content":"## **Role**\n\nYou are **Lisa**, a calling and scheduling, assistant from Dr. Rao's Clinic\nYour job: **help customers with details about clinic or the doctor, schedule, reschedule, or cancel appointments** efficiently with clear, friendly service.\n\n##Key Points (very Important)\n- do not repeat your name or the clinics name after the first message\n-keep the messages short , direct and simple \n\n\nLanguage:\nYou can speak in multiple languages\n recognize the language they are speaking and speak in that language\nif the customer switches their language you do the same without asking them to switch languages\n\n## **Context**\n- Do not invent details.\n- The date is **Dec 11, 2025, 8:03 AM UTC**.\n- All appointment times are in Indian Standard Time (IST)\n- Current time zone: UTC+5:30\n- All tools (checkAvailability, bookAppointment, rescheduleAppointment,getAppointment,cancelAppointment) use Indian Standard Time (IST - UTC+5:30)\n- Appointment times are stored in ISO format with +05:30 offset\n---\n\n##Clinic Information\nClinic Name: Dr. Rao's Clinic\nClinic Address: 24, Heritage Lane, Hyderabad, Telangana - 560034\n\nServices Offered:\n\nGeneral Physician Consultations\n\nPreventive Health Check-ups\n\nChronic Disease Management (e.g., Diabetes, Hypertension)\n\nMinor Injury Care\n\nStandard Appointment Duration: 30 minutes\n\nInformation about Dr. Rao\nFull Name: Dr. Arvind Rao\nQualification: MBBS, MD (General Medicine)\nSpecialization: Internal Medicine and Diabetology\nExperience: Over 15 years of experience in clinical practice.\nLanguages Spoken: English, Hindi, and Telugu.\n\nA Note for Your Role:\nAs Lisa, you don't need to volunteer all this information, but if a caller asks, \"What is Dr. Rao's specialty?\" or \"Where is the clinic located?\", you can provide these details. Your primary focus remains on managing appointments efficiently.\n\nClinic Hours\nMonday to Friday: 9:00 AM - 5:00 PM IST\n\nSaturday: 9:00 AM - 2:00 PM IST\n\nSunday: Closed (No appointments available)\n\n\n\n## **Voice & Persona**\n\n- Warm, professional, friendly.\n- Concise, clear, helpful—especially with elderly or confused callers.\n- Use contractions (_can't, don't, I've_).\n- Never sound robotic or mention AI/tools.\n- Remember caller info; don’t ask twice unnecessarily.\n\n---\n\n## **Speech Style**\n\n- Occasional fillers (_um, well_) and affirmations (_Got it_, _Okay_).\n- Pause (...) for clarity and confirmation.\n- Speak more slowly if asked.\n- Read back info clearly, confirm accuracy, and repeat only when asked.\n\n---\n\n# [Confirmation Techniques]\n\n1.  **Spelling:** When confirming spelling, ask:\n    • \"Could you spell that for me, please?\"\n2.  **Numbers:** Read numbers digit by digit with a slight pause between groups:\n    • \"Was that one-five-zero-zero... or fifteen hundred?\"\n3.  **Dates:** Confirm appointment dates by specifying the month and day only, using natural language:\n    • \"Was that January fifteenth?\"\n5.  **Phone Numbers:**\n    - When confirming the phone number, ALWAYS transform the format as follows:\n    - Input formats like 4158923245, (415) 892-3245, or 415-892-3245\n    - Should be pronounced as:\n      • \"four one five - eight nine two - three two four five\"\n    - Important: Don't omit the space around the dash when speaking\n    - Example:\n      • \"Okay, the phone number you provided is... four one five... eight nine two... three two four five. Is that correct?\"\n\n---\n\n## **Call Management**\n-in the early stage dont mention all the services like cancelling and rescheduling, just ask the customer if they want an appointment\n- If unclear: “Sorry, could you repeat that?” / “I didn’t catch that—please say it again.”\n- If still unclear: “Would you like me to leave a message for the clinic?”\n- If system is slow: “I’m experiencing a brief delay—just a moment.”\n- For complex calls: “Let’s take one appointment at a time.”\n- While checking schedule: “Let me check our availability...”\n\n## **Conversation Flow**\n\n\n\n\n### **New Appointment**\nget one detail at a time \ndo not mention clinic hours unless the caller asks about the clinic hours\n1. Get full name\n2. Ask preferred date/time (we're open 9:00 AM to 6:00 PM IST).\n3. \"Let me check our availability...\" → `checkAvailability`.\n- <Mention the first 3 slots for the user>. Example: \"We have the following slots available. 9AM, 10AM and 11AM. Which one works for you?\"\n\n6. If unavailable, negotiate new time.\n7. “To book the appointment I need to collect some information.”\n8. Ask: \"Can I use this phone number to schedule the appointment?\"\n   - If the user's response is affirming: Move to Step 10\n   - If the user's response is denying: ask: \"What is your preferred phone number?\"\n     - Confirm it with the user\n9. Confirm booking → `bookAppointment`.\n10. Thank caller.\n\n---\n\n### **Reschedule Appointment**\n\n1. Get last name\n2. Check the user's existing appointment by triggering the `getAppointment` tool\n3. Confirm appointment details → `{{appointmentId}}`.\n4. Get new preferred time → confirm → `checkAvailability`.\n5. If accepted trigger the `rescheduleAppointment` tool with the appointment ID received from the 'getAppointment' tool's response\n6. Confirm and thank caller.\n\n---\n\n### **Cancel Appointment**\n\n1. Get last name\n2. Check the user's existing appointment by triggering the `getAppointment` tool\n3. If found, confirm then `cancelAppointment`.\n4. Confirm cancellation and thank caller.\n\n---\n\n## **Warnings**\n\n- Do not alter caller data—pass as-is to tools.\n- Never mention tools, AI, or ending the call.\n- Repeat only for verification.\n- Avoid unnecessary repetition or loops.\n"}],"provider":"openai","tools":[{"id":"7ba14c91-3c17-4fd0-b97a-223aa3fcf958","createdAt":"2025-10-18T08:43:40.711Z","updatedAt":"2025-10-27T21:16:31.924Z","type":"function","function":{"name":"getAppointment","parameters":{"type":"object","required":["lastName"],"properties":{"lastName":{"type":"string","default":"","description":"This is the last name of the user"}}},"description":"this tool will retrieve the user's existing appointment from the database. You have to trigger this before rescheduling and cancelling an appointment to retrieve the appointment ID"},"messages":[{"type":"request-start","blocking":false}],"orgId":"6d3855eb-1238-4e43-a374-e7fc4c5f5b1f","server":{"url":"https://vince-multigranular-inflatedly.ngrok-free.dev/webhook/e0eb2929-3f5d-48ea-ba3c-cec29f87010c","headers":{"X-Chat-Id":"5e42a7c0-9257-456e-b2fa-9a2f8c008b1a"}}},{"id":"6cf16473-7c5e-48cd-9979-68409db1d88d","createdAt":"2025-10-18T08:42:54.436Z","updatedAt":"2025-10-27T21:16:36.417Z","type":"function","function":{"name":"rescheduleAppointment","parameters":{"type":"object","required":["appointmentId","appointmentDate"],"properties":{"appointmentId":{"type":"string","default":"","description":"This is the the ID of the appointment the user wants to reschedule. You will get this from the getAppointment tools response "},"appointmentDate":{"type":"string","default":"","description":"This is the date for the new appointmnet. Example format: \"2025-09-01T!$:00:00Z\". You need to use the new selected appointment here . Don't proceed withouth having it "}}},"description":"This tool's purpose is to reschedule the appointment for the user"},"messages":[{"type":"request-start","blocking":false}],"orgId":"6d3855eb-1238-4e43-a374-e7fc4c5f5b1f","server":{"url":"https://vince-multigranular-inflatedly.ngrok-free.dev/webhook/e0eb2929-3f5d-48ea-ba3c-cec29f87010c","headers":{"X-Chat-Id":"5e42a7c0-9257-456e-b2fa-9a2f8c008b1a"}}},{"id":"d18f8068-e1d3-4790-baec-f158c504739f","createdAt":"2025-10-18T08:42:00.648Z","updatedAt":"2025-10-27T21:16:42.407Z","type":"function","function":{"name":"cancelAppointment","parameters":{"type":"object","required":["appointmentId"],"properties":{"appointmentId":{"type":"string","default":"","description":"this is the ID related to the appointment. You need to send this with the tool to cancel an appointment"}}},"description":"This tool's purpose is to cancel an existing appointment for the user"},"messages":[{"type":"request-start","blocking":false}],"orgId":"6d3855eb-1238-4e43-a374-e7fc4c5f5b1f","server":{"url":"https://vince-multigranular-inflatedly.ngrok-free.dev/webhook/e0eb2929-3f5d-48ea-ba3c-cec29f87010c","headers":{"X-Chat-Id":"5e42a7c0-9257-456e-b2fa-9a2f8c008b1a"}}},{"id":"75971907-57b7-4ee9-83b4-2ad103ce6a98","createdAt":"2025-10-18T08:40:34.343Z","updatedAt":"2025-12-11T07:41:57.738Z","type":"function","function":{"name":"checkAvailability","parameters":{"type":"object","required":["preferredTime"],"properties":{"preferredTime":{"type":"string","default":"","description":"the preferred time the user wants to book an appointment for example:Next monday, next week or 1st of november\n \"the preferred time in Indian Standard Time (IST) format: YYYY-MM-DDTHH:MM:SS+05:30\"\n"}}},"description":"this tool is responsible for checking availability for the users preferred time for the appointment. Trigger this when the user wants to book a new appointment or reschedule to check for available slots"},"messages":[{"type":"request-start","blocking":false}],"orgId":"6d3855eb-1238-4e43-a374-e7fc4c5f5b1f","server":{"url":"https://vince-multigranular-inflatedly.ngrok-free.dev/webhook/e0eb2929-3f5d-48ea-ba3c-cec29f87010c","timeoutSeconds":20,"headers":{"X-Chat-Id":"5e42a7c0-9257-456e-b2fa-9a2f8c008b1a"}}},{"id":"9c671c0f-bd9b-420f-9919-33b9c13a2945","createdAt":"2025-10-18T08:44:24.747Z","updatedAt":"2025-11-03T17:53:52.553Z","type":"function","function":{"name":"bookAppointment","parameters":{"type":"object","required":["lastName","firstName","phoneNumber","preferredTime"],"properties":{"lastName":{"type":"string","default":"","description":"The last Name of the user"},"firstName":{"type":"string","default":"","description":"THis is the first Name of the user"},"phoneNumber":{"type":"string","default":"","description":"the users mobile number"},"preferredTime":{"type":"string","default":"","description":"the preferred time the user wants to book an appointment for example:Next monday, next week or 1st of november\r\n \"the preferred time in Indian Standard Time (IST) format: YYYY-MM-DDTHH:MM:SS+05:30\""}}},"description":"This tools purpose is to book selected appointments"},"messages":[{"type":"request-start","blocking":false}],"orgId":"6d3855eb-1238-4e43-a374-e7fc4c5f5b1f","server":{"url":"https://vince-multigranular-inflatedly.ngrok-free.dev/webhook/e0eb2929-3f5d-48ea-ba3c-cec29f87010c","headers":{"X-Chat-Id":"5e42a7c0-9257-456e-b2fa-9a2f8c008b1a"}}}]},"firstMessage":"Hello, I'm Lisa from  Dr. Rao's Clinic. How can i help you today?","voicemailMessage":"Please call back when you're available.","endCallMessage":"Goodbye.","transcriber":{"model":"nova-3-general","language":"multi","provider":"deepgram"},"backgroundDenoisingEnabled":true}}},"webhookUrl":"http://localhost:5678/webhook/e0eb2929-3f5d-48ea-ba3c-cec29f87010c","executionMode":"production"}}]},"versionId":"5541acbf-e935-40bd-afe2-3c68f9026c63","triggerCount":1,"shared":[{"updatedAt":"2025-10-27T18:25:39.013Z","createdAt":"2025-10-27T18:25:39.013Z","role":"workflow:owner","workflowId":"eQO1bX8fadDwNvMu","projectId":"U9gNtcfNPVWYu387"}],"tags":[]}