workflows/call_assi copy.json
{"updatedAt":"2025-10-28T18:25:51.000Z","createdAt":"2025-10-28T18:14:02.655Z","id":"jyxB3FhCmDXzSoKI","name":"call_assi copy","active":false,"isArchived":true,"nodes":[{"parameters":{"jsCode":"const phoneNumber = $input.first().json.body.message.call?.customer?.number ?? $input.first().json.body.message.toolCalls[0].function.arguments.phoneNumber\n  \nreturn {phoneNumber}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"ddf16e89-ddca-4e92-8758-d1a022c2a5de","name":"Get phone number","disabled":true},{"parameters":{"description":"This tool will check for available timeslots and return their start time","workflowId":{"__rl":true,"value":"l5hozjGw3RPi5XYs","mode":"list","cachedResultUrl":"/workflow/l5hozjGw3RPi5XYs","cachedResultName":"getAvailability"},"workflowInputs":{"mappingMode":"defineBelow","value":{"startTime":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('startTime', `the start time which customer wants to check the slot availability`, 'string') }}","endTime":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('endTime', `add 24 hours to the start time to get end time`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"startTime","displayName":"startTime","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"endTime","displayName":"endTime","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[32,448],"id":"eadf9743-aac1-4ea2-ad95-2ae211af0cce","name":"checkAvailability"},{"parameters":{"descriptionType":"manual","toolDescription":"This tool will retrieve the existing appointment for the patient","authentication":"serviceAccount","documentId":{"__rl":true,"value":"13Nc_RyuES7d-OnG8cHB5TNA9UMnQx6nX6iWaqFRHbLk","mode":"list"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13Nc_RyuES7d-OnG8cHB5TNA9UMnQx6nX6iWaqFRHbLk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Last Name","lookupValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `The last Name of the caller`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[192,448],"id":"6ccd73ba-eea2-4db4-8ebf-0acfab6d502c","name":"getAppointment","credentials":{"googleApi":{"id":"C3mAwD3KM6FxoyE1","name":"Google Service Account account"}}},{"parameters":{"description":"This tool's purpose is to cancel an appointment","workflowId":{"__rl":true,"value":"qJMnBdEthjId0vbd","mode":"list","cachedResultUrl":"/workflow/qJMnBdEthjId0vbd","cachedResultName":"cancel_appointment"},"workflowInputs":{"mappingMode":"defineBelow","value":{"appointmentId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointmentId', ``, 'string') }}"},"matchingColumns":["appointmentId"],"schema":[{"id":"appointmentId","displayName":"appointmentId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[352,448],"id":"c2dee346-2f0c-4194-9c4a-352988a9a630","name":"cancelAppointment"},{"parameters":{"description":"This tool's purpose is to reschedule the appointment for the user","workflowId":{"__rl":true,"value":"i4ywe4sK8CvhockA","mode":"list","cachedResultUrl":"/workflow/i4ywe4sK8CvhockA","cachedResultName":"reschedule_appointment"},"workflowInputs":{"mappingMode":"defineBelow","value":{"appointmentId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointmentId', ``, 'string') }}","appointmentDate":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointmentDate', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"appointmentId","displayName":"appointmentId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"appointmentDate","displayName":"appointmentDate","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[528,448],"id":"4b9d5714-0017-4acc-b17c-5a25bf1910d4","name":"rescheduleAppointment"},{"parameters":{"description":"This tool will be responsible for booking a new appointment in the calendar","workflowId":{"__rl":true,"value":"5cIWTwhinDLgdp5Z","mode":"list","cachedResultUrl":"/workflow/5cIWTwhinDLgdp5Z","cachedResultName":"bookAppointment"},"workflowInputs":{"mappingMode":"defineBelow","value":{"appointmentStartTime":"={{ $json.body.message.toolCallList[0].function.arguments.preferredTime }}","firstName":"={{ $json.body.message.toolCallList[0].function.arguments.firstName }}","lastName":"={{ $json.body.message.toolCallList[0].function.arguments.lastName }}","phoneNumber":"={{ $json.body.message.toolCallList[0].function.arguments.phoneNumber }}","email":"={{ $json.body.message.toolCallList[0].function.arguments.email }}"},"matchingColumns":[],"schema":[{"id":"appointmentStartTime","displayName":"appointmentStartTime","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[752,448],"id":"a1e1f80c-c2dc-4fef-a981-5c84d43dbd1e","name":"bookAppointment"},{"parameters":{"promptType":"define","text":"=## Role\nYou are an appointment scheduling assistant.  \nHandle ONLY:  \n- Check availability  \n- Book a new appointment  \n- View details of an existing appointment  \n- Reschedule an existing appointment  \n- Cancel an existing appointment  \n\n## Context\nThe patient is calling an AI voice agent.  \nTool calls:  \n- **checkAvailability** → Provide availability  \n- **bookAppointment** → Book an appointment (30 min)  \n- **cancelAppointment** → Cancel using `cancel_appointment` (needs appointmentId)  \n- **getAppointment** → Return matching appointment in sentences + ID in brackets (not read aloud)  \n- **rescheduleAppointment** → Trigger `reschedule_appointment`  \n\nCurrent date: `{{$now}}`  \nCurrent time zone: Indian Standard Time (IST - UTC+5:30)\n\n---\n\n## Check Availability\n- Trigger ONLY when `toolCallName` = `checkAvailability`  \n### **getAvailabilty**\nClinic Hours\nMonday to Friday: 9:00 AM - 5:00 PM IST\n\nSaturday: 9:00 AM - 2:00 PM IST\n\nSunday: Closed (No appointments available)\n\n1. if the user is requesting an appointment outside the working hours or on non working days suggest a new date\n\n\n- If date/time matches user preference (morning 09:00–13:00 / afternoon 13:00–1:00), say it’s available.  \n- Include start time + month/day in natural language.  \n- If “next available,” check upcoming week.  \n- Example: `January 20 10AM, 11AM`  \n\n---\n\n## Booking\n- Trigger `bookAppointment` when `toolCallName` = `bookAppointment`  \n- Save booked appointment to DB.  \n- Future date/time only, in ISO format with Indian time zone offset: `YYYY-MM-DDTHH:MM:SS+05:30`  \n\n---\n\n## Cancelling\n- Trigger `cancel_appointment` with appointmentId.  \n\n---\n\n## Rescheduling\n- Trigger `reschedule_appointment` with new appointmentDate + appointmentId.  \n\n---\n\n## Get Appointment \n- Return matching appointment in sentences.  \n- If found an appointment also include (`Appointment ID`) in response and put it in brackets. Example: \"4A2fbwjnDgCC8584yeNBp5\"\n\nExapmle result: \"I found your appointment at Nov. 1 9AM (Appointment ID: 4A2fbwjnDgCC8584yeNBp5)\"\n\nImportant: It is crucial to include the appointment I as this is used to reschedule or cancel the appointment\n\n---\n\n## Date Handling\n- Convert relative dates (e.g., “next Monday”) to ISO `YYYY-MM-DDTHH:MM:SSZ`  \n- When booking and rescheduling an appointment always use Indian Standard Time offset: 2025-08-12T13:00:00+05:30\n\n---\n\n## Output\nOnly output the result without explanation\n\n## Input Parameters\nAll appointment times are in Indian Standard Time (IST - UTC+5:30)\nThe toolcall name: {{ $('Webhook1').item.json.body.message.toolCalls[0].function.name }}\npatient's first name: {{ $('Webhook1').item.json.body.message.toolCalls[0].function.arguments.firstName }}\npatient's last name: {{ $('Webhook1').item.json.body.message.toolCalls[0].function.arguments.lastName }}\npreferredTime: {{ $('Webhook1').item.json.body.message.toolCalls[0].function.arguments.preferredTime }}\nappointmentTime for new appointments: {{ $('Webhook1').item.json.body.message.toolCalls[0].function.arguments.appointmentTime }}\nappointmentReason: {{ $('Webhook1').item.json.body.message.toolCalls[0].function.arguments.appointmentReason }}\nbirthDate: {{ $('Webhook1').item.json.body.message.toolCalls[0].function.arguments.birthDate }}\nfullName (for retrieving the appointment): {{ $('Webhook1').item.json.body.message.toolCalls[0].function.arguments.name }}\nNew appointmentDate for rescheduling: {{ $('Webhook1').item.json.body.message.toolCalls[0].function.arguments.appointmentDate }}\nappointmentId for rescheduling and cancelling: {{ $('Webhook1').item.json.body.message.toolCalls[0].function.arguments.appointmentId }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[208,192],"id":"3b2e17ae-fa2c-45c6-b1b7-4cfba25eff0f","name":"AI Agent1"},{"parameters":{"httpMethod":"POST","path":"3487f465-82cc-4b29-b898-843fc986a883","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-304,176],"id":"6a2041c0-4c6e-4fea-9e43-9451a80fe402","name":"Webhook1","webhookId":"3487f465-82cc-4b29-b898-843fc986a883","executeOnce":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-224,432],"id":"2debe682-393c-4f3e-a9cf-c3f02a46a64b","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"xXOANsLiv8KwOSrY","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Webhook1').item.json.body.message.toolCalls[0].id }}\",\n      \"result\": \"{{ $json.output.replaceAll(\"\\n\", \"\").replace(/\"([^\"]+)\"/g, '\\\\\"$1\\\\\"') }}\"\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[800,176],"id":"5cf351ab-96c2-4a9e-8bd0-e6fd4e271555","name":"Respond to Webhook"}],"connections":{"checkAvailability":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"getAppointment":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"cancelAppointment":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"rescheduleAppointment":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"bookAppointment":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"AI Agent1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"224872e7-81c4-43f2-b0d7-772fbea9c315","triggerCount":1,"shared":[{"updatedAt":"2025-10-28T18:14:02.680Z","createdAt":"2025-10-28T18:14:02.680Z","role":"workflow:owner","workflowId":"jyxB3FhCmDXzSoKI","projectId":"U9gNtcfNPVWYu387"}],"tags":[]}