workflows/cancel_appointment.json
{"updatedAt":"2025-11-14T06:46:13.000Z","createdAt":"2025-10-27T20:42:41.168Z","id":"LEyqII5FWGtu459x","name":"cancel_appointment","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"appointmentId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"adf1f879-c60b-4405-a5b2-92d4240635f5","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"=https://api.cal.com/v2/bookings/{{ $json.appointmentId }}/cancel","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"cal-api-version","value":"2024-08-13"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"cancellationReason","value":"user asked to cancel"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,0],"id":"79466fd0-d60b-4ed2-bff3-43db501849ea","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"H8shXxQQRFprA2Vt","name":"Header Auth account"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"13Nc_RyuES7d-OnG8cHB5TNA9UMnQx6nX6iWaqFRHbLk","mode":"list","cachedResultName":"Appointments","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13Nc_RyuES7d-OnG8cHB5TNA9UMnQx6nX6iWaqFRHbLk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tmx7cSWXhfzadpF_C9MlNCPXIWzsZO_tQKFr2eQf4yY/edit#gid=0"},"startIndex":"={{ $json['row_number'] }}"},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[720,0],"id":"46b58363-7893-4799-81df-439163489014","name":"Delete rows or columns from sheet","credentials":{"googleSheetsOAuth2Api":{"id":"A93SEgEFhN0uUEvn","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"13Nc_RyuES7d-OnG8cHB5TNA9UMnQx6nX6iWaqFRHbLk","mode":"list","cachedResultName":"Appointments","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13Nc_RyuES7d-OnG8cHB5TNA9UMnQx6nX6iWaqFRHbLk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tmx7cSWXhfzadpF_C9MlNCPXIWzsZO_tQKFr2eQf4yY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Appointment ID","lookupValue":"={{ $json.data.uid }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[480,0],"id":"46649a21-d893-4c8b-acab-3b1d129c7e18","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"A93SEgEFhN0uUEvn","name":"Google Sheets account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Delete rows or columns from sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"db4b35f2-f881-407b-b51c-920eb201e031","triggerCount":0,"shared":[{"updatedAt":"2025-10-27T20:42:41.187Z","createdAt":"2025-10-27T20:42:41.187Z","role":"workflow:owner","workflowId":"LEyqII5FWGtu459x","projectId":"U9gNtcfNPVWYu387"}],"tags":[]}