workflows/Generate Leads with Google Maps - AlexK1919.json
{"updatedAt":"2025-12-02T18:58:09.000Z","createdAt":"2025-11-17T15:42:04.638Z","id":"8g3G1Sy5QLFcQgKQ","name":"Generate Leads with Google Maps - AlexK1919","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"a52a2a3f-ed87-4f45-a328-362223544185","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[192,528],"typeVersion":1},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"96bf8464-446f-4fc3-9aab-316fd926a7b0","name":"Run workflow every hours","type":"n8n-nodes-base.scheduleTrigger","position":[192,272],"typeVersion":1.1,"disabled":true},{"parameters":{},"id":"f7486e7f-5d2b-498a-bdb0-af024b835e60","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[192,48],"typeVersion":1,"disabled":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"51e191cb-af20-423b-9303-8523caa4ae0d","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $('Exponential Backoff').item.json[\"retryCount\"] }}","rightValue":10}]},"options":{}},"id":"ccf0f5cc-c502-4f4e-ad41-9c2d218d2edb","name":"Check Max Retries1","type":"n8n-nodes-base.if","position":[2944,592],"typeVersion":2.2},{"parameters":{"errorMessage":"Google Sheets API Limit has been triggered and the workflow has stopped"},"id":"2355131f-9aa9-416c-ac97-1179ace157ab","name":"Stop and Error1","type":"n8n-nodes-base.stopAndError","position":[3152,592],"typeVersion":1},{"parameters":{"method":"POST","url":"https://places.googleapis.com/v1/places:searchText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-FieldMask","value":"places.id,places.displayName,places.addressComponents,places.formattedAddress,places.primaryType,places.primaryTypeDisplayName,places.types,places.location,places.nationalPhoneNumber,places.rating,places.userRatingCount,places.websiteUri,places.editorialSummary,places.reviews,places.attributions,places.userRatingCount"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"textQuery","value":"={{ $('Subcategory').item.json.Subcategory }} {{ $json.zip }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"84338efb-2616-4359-bb6c-2d0f324bfced","name":"GMaps API","type":"n8n-nodes-base.httpRequest","position":[1344,528],"typeVersion":4.2},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"url","value":"={{ $('Settings').first().json.gs_url }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $('Settings').first().json.sheet }}"},"columns":{"value":{"zip":"={{ $('Set Zip').first().json.zip }}","status":"scraped","subcat":"={{ $('Subcategory').first().json.Subcategory }}"},"schema":[{"id":"zip","type":"string","display":true,"removed":false,"required":false,"displayName":"zip","defaultMatch":false,"canBeUsedToMatch":true},{"id":"status","type":"string","display":true,"removed":false,"required":false,"displayName":"status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"subcat","type":"string","display":true,"removed":false,"required":false,"displayName":"subcat","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["zip"]},"options":{}},"id":"8d858070-486f-4e3b-b45b-eb4f294e5ddb","name":"Update Status to Success","type":"n8n-nodes-base.googleSheets","position":[2784,1008],"executeOnce":true,"typeVersion":4.2,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"Jq09Meog913FLbb3","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"url","value":"={{ $('Settings').item.json.gs_url }}"},"sheetName":{"__rl":true,"mode":"name","value":"=Results"},"columns":{"value":{"type":"={{ $('Subcategory').item.json.Subcategory }}","phone":"={{ $json.place.nationalPhoneNumber }}","title":"={{ $json.place.displayName.text }}","types":"={{ $json.place.types }}","rating":"={{ $json.place.rating }}","address":"={{ $json.place.formattedAddress }}","reviews":"={{ $json.place.reviews }}","website":"={{ $json.place.websiteUri }}","place_id":"={{ $json.place.id }}","gps_coordinates":"={\"latitude\":{{ $json.place.location.latitude }},\"longitude\":{{ $json.place.location.longitude }}}"},"schema":[{"id":"ACTION","type":"string","display":true,"required":false,"displayName":"ACTION","defaultMatch":false,"canBeUsedToMatch":true},{"id":"STATUS","type":"string","display":true,"required":false,"displayName":"STATUS","defaultMatch":false,"canBeUsedToMatch":true},{"id":"title","type":"string","display":true,"required":false,"displayName":"title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"email","type":"string","display":true,"required":false,"displayName":"email","defaultMatch":false,"canBeUsedToMatch":true},{"id":"name","type":"string","display":true,"required":false,"displayName":"name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"firstname","type":"string","display":true,"required":false,"displayName":"firstname","defaultMatch":false,"canBeUsedToMatch":true},{"id":"lastname","type":"string","display":true,"required":false,"displayName":"lastname","defaultMatch":false,"canBeUsedToMatch":true},{"id":"phone","type":"string","display":true,"required":false,"displayName":"phone","defaultMatch":false,"canBeUsedToMatch":true},{"id":"clean url","type":"string","display":true,"required":false,"displayName":"clean url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"website","type":"string","display":true,"required":false,"displayName":"website","defaultMatch":false,"canBeUsedToMatch":true},{"id":"WP API","type":"string","display":true,"required":false,"displayName":"WP API","defaultMatch":false,"canBeUsedToMatch":true},{"id":"WP","type":"string","display":true,"required":false,"displayName":"WP","defaultMatch":false,"canBeUsedToMatch":true},{"id":"facebook","type":"string","display":true,"required":false,"displayName":"facebook","defaultMatch":false,"canBeUsedToMatch":true},{"id":"instagram","type":"string","display":true,"required":false,"displayName":"instagram","defaultMatch":false,"canBeUsedToMatch":true},{"id":"youtube","type":"string","display":true,"required":false,"displayName":"youtube","defaultMatch":false,"canBeUsedToMatch":true},{"id":"tiktok","type":"string","display":true,"required":false,"displayName":"tiktok","defaultMatch":false,"canBeUsedToMatch":true},{"id":"twitter","type":"string","display":true,"required":false,"displayName":"twitter","defaultMatch":false,"canBeUsedToMatch":true},{"id":"linkedin","type":"string","display":true,"required":false,"displayName":"linkedin","defaultMatch":false,"canBeUsedToMatch":true},{"id":"pinterest","type":"string","display":true,"required":false,"displayName":"pinterest","defaultMatch":false,"canBeUsedToMatch":true},{"id":"reddit","type":"string","display":true,"required":false,"displayName":"reddit","defaultMatch":false,"canBeUsedToMatch":true},{"id":"rating","type":"string","display":true,"required":false,"displayName":"rating","defaultMatch":false,"canBeUsedToMatch":true},{"id":"reviews","type":"string","display":true,"required":false,"displayName":"reviews","defaultMatch":false,"canBeUsedToMatch":true},{"id":"type","type":"string","display":true,"required":false,"displayName":"type","defaultMatch":false,"canBeUsedToMatch":true},{"id":"address","type":"string","display":true,"required":false,"displayName":"address","defaultMatch":false,"canBeUsedToMatch":true},{"id":"price","type":"string","display":true,"required":false,"displayName":"price","defaultMatch":false,"canBeUsedToMatch":true},{"id":"place_id","type":"string","display":true,"removed":false,"required":false,"displayName":"place_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"position","type":"string","display":true,"required":false,"displayName":"position","defaultMatch":false,"canBeUsedToMatch":true},{"id":"data_id","type":"string","display":true,"required":false,"displayName":"data_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"data_cid","type":"string","display":true,"required":false,"displayName":"data_cid","defaultMatch":false,"canBeUsedToMatch":true},{"id":"reviews_link","type":"string","display":true,"required":false,"displayName":"reviews_link","defaultMatch":false,"canBeUsedToMatch":true},{"id":"photos_link","type":"string","display":true,"required":false,"displayName":"photos_link","defaultMatch":false,"canBeUsedToMatch":true},{"id":"gps_coordinates","type":"string","display":true,"required":false,"displayName":"gps_coordinates","defaultMatch":false,"canBeUsedToMatch":true},{"id":"place_id_search","type":"string","display":true,"required":false,"displayName":"place_id_search","defaultMatch":false,"canBeUsedToMatch":true},{"id":"provider_id","type":"string","display":true,"required":false,"displayName":"provider_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"types","type":"string","display":true,"required":false,"displayName":"types","defaultMatch":false,"canBeUsedToMatch":true},{"id":"open_state","type":"string","display":true,"required":false,"displayName":"open_state","defaultMatch":false,"canBeUsedToMatch":true},{"id":"hours","type":"string","display":true,"required":false,"displayName":"hours","defaultMatch":false,"canBeUsedToMatch":true},{"id":"operating_hours","type":"string","display":true,"required":false,"displayName":"operating_hours","defaultMatch":false,"canBeUsedToMatch":true},{"id":"description","type":"string","display":true,"required":false,"displayName":"description","defaultMatch":false,"canBeUsedToMatch":true},{"id":"service_options","type":"string","display":true,"required":false,"displayName":"service_options","defaultMatch":false,"canBeUsedToMatch":true},{"id":"order_online","type":"string","display":true,"required":false,"displayName":"order_online","defaultMatch":false,"canBeUsedToMatch":true},{"id":"thumbnail","type":"string","display":true,"required":false,"displayName":"thumbnail","defaultMatch":false,"canBeUsedToMatch":true},{"id":"editorial_reviews","type":"string","display":true,"required":false,"displayName":"editorial_reviews","defaultMatch":false,"canBeUsedToMatch":true},{"id":"unclaimed_listing","type":"string","display":true,"required":false,"displayName":"unclaimed_listing","defaultMatch":false,"canBeUsedToMatch":true},{"id":"reserve_a_table","type":"string","display":true,"required":false,"displayName":"reserve_a_table","defaultMatch":false,"canBeUsedToMatch":true},{"id":"user_review","type":"string","display":true,"required":false,"displayName":"user_review","defaultMatch":false,"canBeUsedToMatch":true},{"id":"amenities","type":"string","display":true,"required":false,"displayName":"amenities","defaultMatch":false,"canBeUsedToMatch":true},{"id":"book_online","type":"string","display":true,"required":false,"displayName":"book_online","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["place_id"]},"options":{}},"id":"aea67563-46a2-4825-8a6d-c3bfc218fb77","name":"Add rows in Google Sheets","type":"n8n-nodes-base.googleSheets","position":[2352,592],"typeVersion":4.2,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"Jq09Meog913FLbb3","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"4c5ad6be-28aa-455f-8ee2-edce1ab1bdbb","name":"row_number","type":"number","value":"={{ $json.row_number }}"}]},"includeOtherFields":true,"options":{}},"id":"95343ddf-aec9-4bcb-b46d-d762e04bf72e","name":"Set Row Number","type":"n8n-nodes-base.set","position":[1344,-80],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"7b1629c5-cbfe-4769-8286-66b46c51cd7e","name":"zip","type":"number","value":"={{ $('Loop Zips').first().json.zip }}"}]},"includeOtherFields":true,"options":{}},"id":"3bb94c4d-8ef4-4f5b-811e-2ba697a1a435","name":"Set Zip","type":"n8n-nodes-base.set","position":[1152,528],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"758ff896-7cd8-4f72-bfbb-e64583c5937c","name":"places.id","type":"string","value":"={{ $json.place.id }}"}]},"includeOtherFields":true,"options":{}},"id":"78d9d4a2-a959-40fb-82ec-a8b90cae6994","name":"Set Place ID","type":"n8n-nodes-base.set","position":[1952,592],"typeVersion":3.4},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Define the retry count (coming from a previous node or set manually)\nconst retryCount = $json[\"retryCount\"] || 0;  // If not present, default to 0\nconst maxRetries = 5;  // Define the maximum number of retries\nconst initialDelay = 1;  // Initial delay in seconds (1 second)\n\n// If the retry count is less than the max retries, calculate the delay\nif (retryCount < maxRetries) {\n    const currentDelayInSeconds = initialDelay * Math.pow(2, retryCount);  // Exponential backoff delay in seconds\n    \n    // Log the delay time for debugging\n    console.log(`Waiting for ${currentDelayInSeconds} seconds before retry...`);\n    \n    return {\n        json: {\n            retryCount: retryCount + 1,  // Increment retry count\n            waitTimeInSeconds: currentDelayInSeconds, // Pass the delay time in seconds\n            status: 'retrying',\n        }\n    };\n} else {\n    // If max retries are exceeded, return a failure response\n    return {\n        json: {\n            error: 'Max retries exceeded',\n            retryCount: retryCount,\n            status: 'failed'\n        }\n    };\n}\n"},"id":"b7504008-24d6-4d41-942e-4a52406ca9c6","name":"Exponential Backoff","type":"n8n-nodes-base.code","position":[2544,592],"typeVersion":2},{"parameters":{"compare":"selectedFields","fieldsToCompare":"place.id,places.id","options":{}},"id":"8e268b21-fb04-4c8e-81e2-a31455dc0311","name":"Remove Duplicates","type":"n8n-nodes-base.removeDuplicates","position":[2144,592],"typeVersion":1.1},{"parameters":{"amount":"={{ $json[\"waitTime\"] }}"},"id":"06f3073b-e3ca-4f97-af50-daab8e8a83fc","name":"Wait","type":"n8n-nodes-base.wait","position":[2752,592],"webhookId":"e0cf8da3-e4ab-490e-abcd-0c0c55b90846","typeVersion":1.1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"51e191cb-af20-423b-9303-8523caa4ae0d","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $('Exponential Backoff1').item.json[\"retryCount\"] }}","rightValue":10}]},"options":{}},"id":"08462009-6955-4d13-9f8d-955196612db4","name":"Check Max Retries","type":"n8n-nodes-base.if","position":[3392,1008],"typeVersion":2.2},{"parameters":{"errorMessage":"Google Sheets API Limit has been triggered and the workflow has stopped"},"id":"ce0f7730-1030-44f6-a05e-ef800d447458","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","position":[3584,1008],"typeVersion":1},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Define the retry count (coming from a previous node or set manually)\nconst retryCount = $json[\"retryCount\"] || 0;  // If not present, default to 0\nconst maxRetries = 5;  // Define the maximum number of retries\nconst initialDelay = 1;  // Initial delay in seconds (1 second)\n\n// If the retry count is less than the max retries, calculate the delay\nif (retryCount < maxRetries) {\n    const currentDelayInSeconds = initialDelay * Math.pow(2, retryCount);  // Exponential backoff delay in seconds\n    \n    // Log the delay time for debugging\n    console.log(`Waiting for ${currentDelayInSeconds} seconds before retry...`);\n    \n    return {\n        json: {\n            retryCount: retryCount + 1,  // Increment retry count\n            waitTimeInSeconds: currentDelayInSeconds, // Pass the delay time in seconds\n            status: 'retrying',\n        }\n    };\n} else {\n    // If max retries are exceeded, return a failure response\n    return {\n        json: {\n            error: 'Max retries exceeded',\n            retryCount: retryCount,\n            status: 'failed'\n        }\n    };\n}\n"},"id":"ba6b0206-56ac-4a5f-b0b1-e9d755e64b3e","name":"Exponential Backoff1","type":"n8n-nodes-base.code","position":[2992,1008],"typeVersion":2},{"parameters":{"amount":"={{ $json[\"waitTime\"] }}"},"id":"471b5ec1-97ff-4037-8e80-cd0710add6a5","name":"Wait1","type":"n8n-nodes-base.wait","position":[3184,1008],"webhookId":"670750d4-0c4d-4fff-b139-1d60be1eac68","typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"fa469a25-eb00-4011-a626-87fae7fb8bbd","name":"gs_url","type":"string","value":"https://docs.google.com/spreadsheets/d/11bzNIQDE4GB2NWkyGv2IfEsTggSIBCKe2z39Ecp2Z4g/edit?gid=853393043#gid=853393043"},{"id":"df0a7a51-0ec6-47d2-9f73-bc8268385305","name":"catSheet","type":"string","value":"Google Maps Categories"},{"id":"a1ff9a58-9ae6-4000-9fcd-6c11de23bd48","name":"sheet","type":"string","value":"AZ Zips"}]},"options":{}},"id":"27be432b-7e33-477e-b544-f7cfa0c22988","name":"Settings","type":"n8n-nodes-base.set","position":[464,208],"typeVersion":3.4},{"parameters":{"documentId":{"__rl":true,"mode":"url","value":"={{ $('Settings').item.json.gs_url }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $('Settings').item.json.catSheet }}"},"options":{}},"id":"83de3da0-ab16-459c-89a0-b89e07ea5d4b","name":"GS - Get Subcategory","type":"n8n-nodes-base.googleSheets","position":[1040,192],"executeOnce":true,"typeVersion":4.2,"credentials":{"googleSheetsOAuth2Api":{"id":"Jq09Meog913FLbb3","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d3470f6f-c66e-4223-bbf5-81e45201d45d","name":"Subcategory","type":"string","value":"={{ $json.Subcategory }}"}]},"includeOtherFields":true,"options":{}},"id":"274716da-468d-426a-bea5-5441d07084c3","name":"Subcategory","type":"n8n-nodes-base.set","position":[1440,192],"typeVersion":3.4},{"parameters":{"documentId":{"__rl":true,"mode":"url","value":"={{ $('Settings').item.json.gs_url }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $('Settings').item.json.sheet }}"},"options":{}},"id":"06de1a13-f7be-4ca7-8a39-b8d4a2150970","name":"GS - Get Zip Codes","type":"n8n-nodes-base.googleSheets","position":[752,-80],"executeOnce":true,"typeVersion":4.2,"credentials":{"googleSheetsOAuth2Api":{"id":"Jq09Meog913FLbb3","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Get the places array from the input data\nconst places = items[0]?.json?.body?.places || [];\n\n// Create an output array to hold each place as a separate item\nlet output = [];\n\nif (places.length > 0) {\n  for (let i = 0; i < places.length; i++) {\n    // For each place, push a new item into the output array\n    output.push({\n      json: {\n        place: places[i], // The individual place object\n        otherData: items[0].json.otherData || null  // Include other data or default to null\n      }\n    });\n  }\n} else {\n  // Log an error or handle the case where places array is empty or undefined\n  console.log('Places array is empty or undefined.');\n}\n\n// Return the output array, so each place becomes its own item\nreturn output;\n"},"id":"4cad45a8-85d8-4687-99ee-9cadce964399","name":"Place Array","type":"n8n-nodes-base.code","position":[1744,592],"typeVersion":2},{"parameters":{"options":{}},"id":"4734e279-cc06-4704-88ef-a1e3e97821e6","name":"Loop Zips","type":"n8n-nodes-base.splitInBatches","position":[848,128],"typeVersion":3},{"parameters":{"options":{}},"id":"1d77a7eb-b57e-4f35-bfa9-1fce0de8ba12","name":"Loop Subcats","type":"n8n-nodes-base.splitInBatches","position":[944,464],"typeVersion":3},{"parameters":{"documentId":{"__rl":true,"mode":"url","value":"={{ $('Settings').first().json.gs_url }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $('Settings').first().json.sheet }}"},"options":{}},"id":"b085e879-f9fe-4faf-898a-810955679982","name":"GS - Get Status","type":"n8n-nodes-base.googleSheets","position":[2544,800],"executeOnce":true,"typeVersion":4.2,"credentials":{"googleSheetsOAuth2Api":{"id":"Jq09Meog913FLbb3","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"51e191cb-af20-423b-9303-8523caa4ae0d","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $('Exponential Backoff2').item.json[\"retryCount\"] }}","rightValue":10}]},"options":{}},"id":"5d6b5ee8-3f8b-41a8-9843-f7d004c73648","name":"Check Max Retries2","type":"n8n-nodes-base.if","position":[3152,800],"typeVersion":2.2},{"parameters":{"errorMessage":"Google Sheets API Limit has been triggered and the workflow has stopped"},"id":"d0910716-9960-4e04-bb27-799a0c56bc05","name":"Stop and Error2","type":"n8n-nodes-base.stopAndError","position":[3344,800],"typeVersion":1},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Define the retry count (coming from a previous node or set manually)\nconst retryCount = $json[\"retryCount\"] || 0;  // If not present, default to 0\nconst maxRetries = 5;  // Define the maximum number of retries\nconst initialDelay = 1;  // Initial delay in seconds (1 second)\n\n// If the retry count is less than the max retries, calculate the delay\nif (retryCount < maxRetries) {\n    const currentDelayInSeconds = initialDelay * Math.pow(2, retryCount);  // Exponential backoff delay in seconds\n    \n    // Log the delay time for debugging\n    console.log(`Waiting for ${currentDelayInSeconds} seconds before retry...`);\n    \n    return {\n        json: {\n            retryCount: retryCount + 1,  // Increment retry count\n            waitTimeInSeconds: currentDelayInSeconds, // Pass the delay time in seconds\n            status: 'retrying',\n        }\n    };\n} else {\n    // If max retries are exceeded, return a failure response\n    return {\n        json: {\n            error: 'Max retries exceeded',\n            retryCount: retryCount,\n            status: 'failed'\n        }\n    };\n}\n"},"id":"78e8ba64-26df-455e-9c95-381ca989b9ba","name":"Exponential Backoff2","type":"n8n-nodes-base.code","position":[2752,800],"typeVersion":2},{"parameters":{"amount":"={{ $json[\"waitTime\"] }}"},"id":"74e40c3e-3008-4e54-899e-7be2593573ce","name":"Wait2","type":"n8n-nodes-base.wait","position":[2944,800],"webhookId":"d9b32a26-861f-46d5-a8d7-0ede2ea37fe6","typeVersion":1.1},{"parameters":{"maxItems":3},"id":"6f2ce729-79f4-4277-8c61-abf08da2340d","name":"Limit","type":"n8n-nodes-base.limit","position":[1760,-80],"typeVersion":1},{"parameters":{"content":"# Settings","height":1391,"width":247,"color":3},"id":"53baef79-904b-4bca-9ea3-07ebfb9cd12d","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[400,-160],"typeVersion":1},{"parameters":{"content":"In the Google Sheets document, set the subcategories you'd like to search for\n\nSet the URL of your Google Sheets document\n\nSet the Zip Code sheet name","height":220,"width":219,"color":7},"id":"c1c898bf-fdb6-4389-b537-78851892c0ad","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","position":[400,-80],"typeVersion":1},{"parameters":{"content":"# Triggers","height":1391,"width":247,"color":7},"id":"e99f51dd-2607-4370-8ecc-52d3ebbcf5bc","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[128,-160],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"3d16d922-0ed3-4a0f-9707-43797438970d","name":"zip","type":"number","value":"={{ $json.zip }}"}]},"includeOtherFields":true,"options":{}},"id":"365d3517-8ffd-4949-90ba-915de4e06d7f","name":"Zips","type":"n8n-nodes-base.set","position":[944,-80],"typeVersion":3.4},{"parameters":{"content":"# Google Maps API","height":880,"width":3060,"color":5},"id":"3a9340c5-d9fb-4028-a8a5-f8d6384efa72","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[688,368],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"9f5a5e37-faae-45db-8a22-ad7d5786ecfe","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.status }}","rightValue":""}]},"options":{}},"id":"002fbe0f-b118-46d2-a57d-237665b99488","name":"Filter Zips","type":"n8n-nodes-base.filter","position":[1152,-80],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"b64333b6-67ce-47c4-a2cc-07303278d178","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.STATUS }}","rightValue":"Ignore"}]},"options":{}},"id":"450d012a-7dbe-4501-ae76-6994cfc9a9da","name":"Filter Subcategories","type":"n8n-nodes-base.filter","position":[1248,192],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"7424452f-e208-4e7e-8144-d0c6278bc0f0","operator":{"type":"object","operation":"empty","singleValue":true},"leftValue":"={{ $json.body }}","rightValue":""}]},"options":{}},"id":"6d09f5a8-3510-487e-b0d4-e80f92b7bdf1","name":"If Empty","type":"n8n-nodes-base.if","position":[1552,528],"typeVersion":2.2},{"parameters":{"fieldToSplitOut":"row_number","include":"allOtherFields","options":{}},"id":"7068168c-e168-4a7b-9ad4-e8a41648403c","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[1568,-80],"typeVersion":1},{"parameters":{"content":"# Data Prep","height":500,"width":3060,"color":4},"id":"88ec9ce3-5433-4bef-90fa-e3a49b6e8036","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[688,-160],"typeVersion":1}],"connections":{"Wait":{"main":[[{"node":"Check Max Retries1","type":"main","index":0}]]},"Zips":{"main":[[{"node":"Filter Zips","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Zips","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Check Max Retries","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Check Max Retries2","type":"main","index":0}]]},"Set Zip":{"main":[[{"node":"GMaps API","type":"main","index":0}]]},"If Empty":{"main":[[{"node":"Loop Subcats","type":"main","index":0}],[{"node":"Place Array","type":"main","index":0}]]},"Settings":{"main":[[{"node":"GS - Get Zip Codes","type":"main","index":0}]]},"GMaps API":{"main":[[{"node":"If Empty","type":"main","index":0}]]},"Loop Zips":{"main":[[],[{"node":"GS - Get Subcategory","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Filter Zips":{"main":[[{"node":"Set Row Number","type":"main","index":0}]]},"Place Array":{"main":[[{"node":"Set Place ID","type":"main","index":0}]]},"Subcategory":{"main":[[{"node":"Loop Subcats","type":"main","index":0}]]},"Loop Subcats":{"main":[[{"node":"Loop Zips","type":"main","index":0}],[{"node":"Set Zip","type":"main","index":0}]]},"Set Place ID":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Set Row Number":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"GS - Get Status":{"main":[[{"node":"Update Status to Success","type":"main","index":0}],[{"node":"Exponential Backoff2","type":"main","index":0}]]},"Check Max Retries":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"Update Status to Success","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Add rows in Google Sheets","type":"main","index":0}]]},"Check Max Retries1":{"main":[[{"node":"Stop and Error1","type":"main","index":0}],[{"node":"Add rows in Google Sheets","type":"main","index":0}]]},"Check Max Retries2":{"main":[[{"node":"Stop and Error2","type":"main","index":0}]]},"GS - Get Zip Codes":{"main":[[{"node":"Zips","type":"main","index":0}]]},"Exponential Backoff":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Exponential Backoff1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Exponential Backoff2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Filter Subcategories":{"main":[[{"node":"Subcategory","type":"main","index":0}]]},"GS - Get Subcategory":{"main":[[{"node":"Filter Subcategories","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Settings","type":"main","index":0}]]},"Run workflow every hours":{"main":[[{"node":"Settings","type":"main","index":0}]]},"Update Status to Success":{"main":[[{"node":"Loop Subcats","type":"main","index":0}],[{"node":"Exponential Backoff1","type":"main","index":0}]]},"Add rows in Google Sheets":{"main":[[{"node":"GS - Get Status","type":"main","index":0}],[{"node":"Exponential Backoff","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Settings","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"425c4376-5bda-4cbf-8456-9e0f5857a468","triggerCount":0,"shared":[{"updatedAt":"2025-11-17T15:42:04.656Z","createdAt":"2025-11-17T15:42:04.656Z","role":"workflow:owner","workflowId":"8g3G1Sy5QLFcQgKQ","projectId":"U9gNtcfNPVWYu387"}],"tags":[]}