workflows/Google Maps Business Scraper & Lead Enricher with Bright Data & Google Gemini.json
{"updatedAt":"2025-11-17T05:38:15.000Z","createdAt":"2025-11-17T05:32:05.853Z","id":"1YG5eqdNhGBywUzg","name":"Google Maps Business Scraper & Lead Enricher with Bright Data & Google Gemini","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"b8201a91-6099-463b-9b3b-50454a01db67","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-2288,-608],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"0ac91db2-9848-40d4-b942-cd7288597ded","name":"url","type":"string","value":"https://www.google.com/maps/search/"},{"id":"7142f0df-3c68-4ce0-8e9b-25101db31312","name":"webhook_notification_url","type":"string","value":"https://webhook.site/c9118da2-1c54-460f-a83a-e5131b7098db"},{"id":"f5b7e10d-bcd8-439c-8e84-ba4af11f2cd2","name":"search","type":"string","value":"dentists+in+texas/?q=dentists+in+texas"},{"id":"3a0bcec2-ec6d-457f-87a5-b73f4d826b2a","name":"zone","type":"string","value":"serp_api1"},{"id":"a9de809f-2026-44bb-a2a9-58495df78bfb","name":"start","type":"string","value":"0"},{"id":"feff2b6f-2897-4135-a09a-e0799a2197ea","name":"num","type":"string","value":"20"}]},"options":{}},"id":"097fe4c3-6523-459c-b16b-81268d1019df","name":"Set input fields","type":"n8n-nodes-base.set","position":[-2032,-608],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://api.brightdata.com/request","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"zone","value":"={{ $json.zone }}"},{"name":"url","value":"={{ $json.url }}/{{ $json.search }}"},{"name":"format","value":"raw"}]},"options":{}},"id":"0c1ee587-744e-4cf9-9a45-0a0dbcab39e4","name":"Perform Bright Data Web Request","type":"n8n-nodes-base.httpRequest","position":[-1792,-608],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"Awtz7EIl13RXX3tP","name":"Header Auth account 2"}}},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"id":"b1148094-fad9-4bb3-a650-02c1d222003c","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-1568,-432],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"xXOANsLiv8KwOSrY","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=Extract Google Maps content \n\n{{ $json.data }}\n\nMake sure to return the data in JSON","hasOutputParser":true,"batching":{}},"id":"b680cc1a-b20d-40c4-b7e2-4a17ee3a2312","name":"Google Maps Data Extractor","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-1568,-608],"retryOnFail":true,"typeVersion":1.7},{"parameters":{"jsonSchemaExample":"[\n      {\n        \"name\": \"Texas City Dental - Dentist in Texas City\",\n        \"entity_id\": [\n          \"9673584215857663405\",\n          \"6574027299904374997\"\n        ],\n        \"details_url\": \"/g/11h7ftffbx\",\n        \"reviews\": 674,\n        \"rating\": 4.8,\n        \"address\": \"3448 Palmer Hwy, Texas City, TX 77590\",\n        \"appointment_link\": \"https://txcitydental.com/\",\n        \"category\": [\n          \"Dentist\",\n          \"Dental laboratory\",\n          \"Denture care center\",\n          \"Endodontist\",\n          \"Oral surgeon\",\n          \"Orthodontist\",\n          \"Pediatric dentist\",\n          \"Periodontist\",\n          \"Teeth whitening service\"\n        ],\n        \"related_terms\": [\n          \"dentist\",\n          \"cosmetic_dentist\",\n          \"dental_clinic\",\n          \"dental_implants_periodontist\",\n          \"teeth_whitening_service\",\n          \"orthodontist\",\n          \"denture_care_center\",\n          \"pediatric_dentist\"\n        ]\n      },\n      {\n        \"name\": \"Texas Dental\",\n        \"entity_id\": [\n          \"9677148940277542199\",\n          \"15703975205538868636\"\n        ],\n        \"details_url\": \"/g/1tgcmpr0\",\n        \"reviews\": 1354,\n        \"rating\": 4.9,\n        \"address\": \"5132 Village Creek Dr, Plano, TX 75093\",\n        \"appointment_link\": \"https://www.texasdentalpa.com/?utm_source=GBPlisting&utm_medium=organic\",\n        \"category\": [\n          \"Dentist\",\n          \"Cosmetic dentist\",\n          \"Dental implants periodontist\"\n        ],\n        \"related_terms\": [\n          \"dentist\",\n          \"cosmetic_dentist\",\n          \"dental_clinic\",\n          \"dental_implants_periodontist\",\n          \"teeth_whitening_service\",\n          \"orthodontist\",\n          \"denture_care_center\",\n          \"pediatric_dentist\"\n        ]\n      },\n      {\n        \"name\": \"North Texas Dental\",\n        \"entity_id\": [\n          \"9677259612218511763\",\n          \"14671019117677462783\"\n        ],\n        \"details_url\": \"/g/1wd3wg17\",\n        \"reviews\": 1623,\n        \"rating\": 4.9,\n        \"address\": \"2515 Masters St, Sherman, TX 75090\",\n        \"appointment_link\": \"https://www.ntdsherman.com/\",\n        \"category\": [\n          \"Dentist\",\n          \"Dental implants periodontist\",\n          \"Denture care center\",\n          \"Teeth whitening service\"\n        ],\n        \"related_terms\": [\n          \"dentist\",\n          \"cosmetic_dentist\",\n          \"dental_clinic\",\n          \"dental_implants_periodontist\",\n          \"teeth_whitening_service\",\n          \"orthodontist\",\n          \"denture_care_center\",\n          \"pediatric_dentist\"\n        ]\n      },\n      {\n        \"name\": \"6 to 9 Dental Texas\",\n        \"entity_id\": [\n          \"9681711930004589935\",\n          \"14121951165737821532\"\n        ],\n        \"details_url\": \"/g/1ts2_px7\",\n        \"reviews\": 113,\n        \"rating\": 4.9,\n        \"address\": \"2603 SE Military Dr Ste 103, San Antonio, TX 78223\",\n        \"appointment_link\": \"http://www.vphumphrey2dds.com/\",\n        \"category\": [\n          \"Dentist\",\n          \"Dental clinic\",\n          \"Dental implants provider\",\n          \"Emergency dental service\",\n          \"Endodontist\",\n          \"Oral surgeon\",\n          \"Prosthodontist\",\n          \"Teeth whitening service\",\n          \"Walk-in clinic\"\n        ],\n        \"related_terms\": [\n          \"dentist\",\n          \"cosmetic_dentist\",\n          \"dental_clinic\",\n          \"dental_implants_periodontist\",\n          \"teeth_whitening_service\",\n          \"orthodontist\",\n          \"denture_care_center\",\n          \"pediatric_dentist\"\n        ]\n      },\n       {\n        \"name\": \"Cosmetic Dental Texas\",\n        \"entity_id\": [\n          \"9673942104093032889\",\n          \"6644082296499224433\"\n        ],\n        \"details_url\": \"/g/1ts_6_5b\",\n        \"reviews\": 234,\n        \"rating\": 4.6,\n        \"address\": \"2101 Crawford St STE 103, Houston, TX 77002\",\n        \"appointment_link\": \"https://cosmeticdentaltexas.com/\",\n        \"category\": [\n          \"Dentist\",\n          \"Cosmetic dentist\",\n          \"Dental hygienist\",\n          \"Health consultant\",\n          \"Teeth whitening service\"\n        ],\n        \"related_terms\": [\n          \"dentist\",\n          \"cosmetic_dentist\",\n          \"dental_clinic\",\n          \"dental_implants_periodontist\",\n          \"teeth_whitening_service\",\n          \"orthodontist\",\n          \"denture_care_center\",\n          \"pediatric_dentist\"\n        ]\n      },\n       {\n        \"name\": \"Natural Dentistry of North Texas\",\n        \"entity_id\": [\n          \"9677855844448877255\",\n          \"6619454455705348065\"\n        ],\n        \"details_url\": \"/g/1w45608g\",\n        \"reviews\": 109,\n        \"rating\": 4.9,\n        \"address\": \"1645 N Town E Blvd #532, Mesquite, TX 75150\",\n        \"appointment_link\": \"https://www.naturaldentistryofnorthtexas.com/?utm_source=local&utm_medium=organic\",\n        \"category\": [\n          \"Dentist\",\n          \"Cosmetic dentist\",\n          \"Dental clinic\",\n          \"Dental implants periodontist\",\n          \"Denture care center\",\n          \"Doctor\",\n          \"Emergency dental service\",\n          \"Orthodontist\",\n          \"Pediatric dentist\",\n          \"Teeth whitening service\"\n        ],\n        \"related_terms\": [\n          \"dentist\",\n          \"cosmetic_dentist\",\n          \"dental_clinic\",\n          \"dental_implants_periodontist\",\n          \"teeth_whitening_service\",\n          \"orthodontist\",\n          \"denture_care_center\",\n          \"pediatric_dentist\"\n        ]\n      },\n       {\n        \"name\": \"Heart of Texas Smiles General Cosmetic Dentistry\",\n        \"entity_id\": [\n          \"9681881174741169099\",\n          \"15832460407262855114\"\n        ],\n        \"details_url\": \"/g/1tcvv8l5\",\n        \"reviews\": 1531,\n        \"rating\": 4.9,\n        \"address\": \"117 Burnett Ct, Waco, TX 76712\",\n        \"appointment_link\": \"https://www.wacofamilydental.com/\",\n        \"category\": [\n          \"Dentist\",\n          \"Cosmetic dentist\",\n          \"Dental clinic\",\n          \"Dental hygienist\",\n          \"Dental implants provider\",\n          \"Orthodontist\"\n        ],\n        \"related_terms\": [\n          \"dentist\",\n          \"cosmetic_dentist\",\n          \"dental_clinic\",\n          \"dental_implants_periodontist\",\n          \"teeth_whitening_service\",\n          \"orthodontist\",\n          \"denture_care_center\",\n          \"pediatric_dentist\"\n        ]\n      },\n       {\n        \"name\": \"Smile 4 Texas Dental Center\",\n        \"entity_id\": [\n          \"9678099339216434095\",\n          \"2187168089587898937\"\n        ],\n        \"details_url\": \"/g/12hn7tnrq\",\n        \"reviews\": 812,\n        \"rating\": 4.9,\n        \"address\": \"1400 Blalock Rd D1, Houston, TX 77055\",\n        \"appointment_link\": \"https://www.smile4texas.com/\",\n        \"category\": [\n          \"Dentist\",\n          \"Cosmetic dentist\",\n          \"Dental clinic\",\n          \"Dental hygienist\",\n          \"Dental implants provider\",\n          \"Emergency dental service\"\n        ],\n        \"related_terms\": [\n          \"dentist\",\n          \"cosmetic_dentist\",\n          \"dental_clinic\",\n          \"dental_implants_periodontist\",\n          \"teeth_whitening_service\",\n          \"orthodontist\",\n          \"denture_care_center\",\n          \"pediatric_dentist\"\n        ]\n      },\n       {\n        \"name\": \"Dental Center of Texas\",\n        \"entity_id\": [\n          \"9673948559547960793\",\n          \"10154247486966080020\"\n        ],\n        \"details_url\": \"/g/1q665w1n4\",\n        \"reviews\": 155,\n        \"rating\": 4.7,\n        \"address\": \"23922 Cinco Village Center Blvd #100, Katy, TX 77494\",\n        \"appointment_link\": \"http://www.dentalcentertexas.com/\",\n        \"category\": [\n          \"Dentist\",\n          \"Dental clinic\",\n          \"Orthodontist\"\n        ],\n        \"related_terms\": [\n          \"dentist\",\n          \"cosmetic_dentist\",\n          \"dental_clinic\",\n          \"dental_implants_periodontist\",\n          \"teeth_whitening_service\",\n          \"orthodontist\",\n          \"denture_care_center\",\n          \"pediatric_dentist\"\n        ]\n      },\n       {\n        \"name\": \"Central Texas Family Dental\",\n        \"entity_id\": [\n          \"9674049914126201417\",\n          \"3494220525942607347\"\n        ],\n        \"details_url\": \"/g/1tdvkknl\",\n        \"reviews\": 188,\n        \"rating\": 4.9,\n        \"address\": \"4104 E Stan Schlueter Loop #4, Killeen, TX 76542\",\n        \"appointment_link\": \"https://www.centexdds.com/\",\n        \"category\": [\n          \"Dentist\"\n        ],\n        \"related_terms\": [\n          \"dentist\",\n          \"cosmetic_dentist\",\n          \"dental_clinic\",\n          \"dental_implants_periodontist\",\n          \"teeth_whitening_service\",\n          \"orthodontist\",\n          \"denture_care_center\",\n          \"pediatric_dentist\"\n        ]\n      },\n       {\n        \"name\": \"Texas Dentistry and Braces\",\n        \"entity_id\": [\n          \"9727332640569304831\",\n          \"9357406137681505810\"\n        ],\n        \"details_url\": \"/g/1tl8l4rw\",\n        \"reviews\": null,\n        \"rating\": null,\n        \"address\": \"315 N Galloway Ave # A, Mesquite, TX 75149\",\n        \"appointment_link\": \"https://mesquite.txdentistryandbraces.com/\",\n        \"category\": [\n          \"Dentist\",\n          \"Cosmetic dentist\",\n          \"Dental clinic\",\n          \"Dental implants provider\",\n          \"Denture care center\",\n          \"Emergency dental service\",\n          \"Orthodontist\",\n          \"Pediatric dentist\"\n        ],\n        \"related_terms\": [\n          \"dentist\",\n          \"cosmetic_dentist\",\n          \"dental_clinic\",\n          \"dental_implants_periodontist\",\n          \"teeth_whitening_service\",\n          \"orthodontist\",\n          \"denture_care_center\",\n          \"pediatric_dentist\"\n        ]\n      },\n       {\n        \"name\": \"West Texas Dental Associates\",\n        \"entity_id\": [\n          \"9673946025354891219\",\n          \"2619898000467686041\"\n        ],\n        \"details_url\": \"/g/113fzvfyr\",\n        \"reviews\": 496,\n        \"rating\": 5.0,\n        \"address\": \"3315 64th St STE A, Lubbock, TX 79413\",\n        \"appointment_link\": \"http://www.westtxdental.com/\",\n        \"category\": [\n          \"Dentist\",\n          \"Cosmetic dentist\"\n        ],\n        \"related_terms\": [\n          \"dentist\",\n          \"cosmetic_dentist\",\n          \"dental_clinic\",\n          \"dental_implants_periodontist\",\n          \"teeth_whitening_service\",\n          \"orthodontist\",\n          \"denture_care_center\",\n          \"pediatric_dentist\"\n        ]\n      },\n      {\n        \"name\": \"Texas Dental Specialists - Dr. Omar Yousuf\",\n        \"entity_id\": [\n          \"9675220924038729639\",\n          \"12674832566120650126\"\n        ],\n        \"details_url\": \"/g/113ddy7s1\",\n        \"reviews\": 296,\n        \"rating\": 4.9,\n        \"address\": \"5940 W Parker Rd STE 103, Plano, TX 75093\",\n        \"appointment_link\": \"https://www.texasdentalspecialists.com/\",\n        \"category\": [\n          \"Dentist\",\n          \"Cosmetic dentist\",\n          \"Dental implants provider\",\n          \"Dental clinic\",\n          \"Emergency dental service\",\n          \"Oral surgeon\"\n        ],\n        \"related_terms\": [\n          \"dentist\",\n          \"cosmetic_dentist\",\n          \"dental_clinic\",\n          \"dental_implants_periodontist\",\n          \"teeth_whitening_service\",\n          \"orthodontist\",\n          \"denture_care_center\",\n          \"pediatric_dentist\"\n        ]\n      }\n    ]"},"id":"277082aa-29fb-4d34-98ae-445561c962fb","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[-1392,-432],"typeVersion":1.2},{"parameters":{"content":"## LLM Usages\n\nGoogle Gemini LLM is being utilized for the structured data extraction handling.","height":240,"width":440,"color":5},"id":"ba745d1f-0647-4743-b238-f277234b0101","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-1904,-1040],"typeVersion":1},{"parameters":{"content":"## Logo\n\n\n![logo](https://images.seeklogo.com/logo-png/43/1/brightdata-logo-png_seeklogo-439974.png)\n","height":340,"width":400,"color":7},"id":"550b6679-9a8c-4856-9753-be1126cd50a0","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-2352,-1392],"typeVersion":1},{"parameters":{"content":"## Note\n\nDeals with the Google Maps data extraction by utilizing the Bright Data and Google Gemini LLM for transforming the profile into a structured JSON response.\n\n**Please make sure to set the input fields node with the filtering criteria, Bright Data zone name, Webhook notification URL**\n","height":240,"width":400},"id":"ec6ad223-81ee-45e5-9aed-0ab34a621de4","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-2352,-1040],"typeVersion":1},{"parameters":{"functionCode":"items[0].binary = {\n  data: {\n    data: new Buffer(JSON.stringify(items[0].json, null, 2)).toString('base64')\n  }\n};\nreturn items;"},"id":"0955e9c1-fb11-439b-b0dd-96cc36d94442","name":"Create a binary data for Structured Data Extract","type":"n8n-nodes-base.function","position":[-864,-720],"typeVersion":1},{"parameters":{"operation":"write","fileName":"=d:\\GoogleMaps_Response.json","options":{}},"id":"c1edc9e1-ae7e-4a09-b28a-1ba54b5b7652","name":"Write the structured content to disk","type":"n8n-nodes-base.readWriteFile","position":[-624,-720],"typeVersion":1},{"parameters":{"url":"={{ $('Set input fields').item.json.webhook_notification_url }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"response","value":"={{ $json.output.toJsonString() }}"}]},"options":{}},"id":"dd019b3c-cf55-4ace-b921-a18f60c22b2f","name":"Initiate a Webhook Notification for Structured Data","type":"n8n-nodes-base.httpRequest","position":[-864,-512],"typeVersion":4.2},{"parameters":{"content":"## Output Data Handling","height":740,"width":780,"color":4},"id":"1b719850-0e54-42a2-931b-787b2f57a480","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1200,-816],"typeVersion":1},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":"1BQ61qiNXdToLm465n-gtJiwdoQGSxua7St_iHAqMi10","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BQ61qiNXdToLm465n-gtJiwdoQGSxua7St_iHAqMi10/edit?usp=drivesdk","cachedResultName":"GoogleMaps-LeadGen"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BQ61qiNXdToLm465n-gtJiwdoQGSxua7St_iHAqMi10/edit#gid=0","cachedResultName":"Sheet1"},"columns":{"value":{"name":"={{ $json.output[0].name }}","rating":"={{ $json.output[0].rating }}","address":"={{ $json.output[0].address }}","reviews":"={{ $json.output[0].reviews }}","category":"={{ $json.output[0].category.toJsonString() }}","details_url":"={{ $json.output[0].details_url }}","related_terms":"={{ $json.output[0].related_terms.toJsonString() }}","appointment_link":"={{ $json.output[0].appointment_link }}"},"schema":[{"id":"name","type":"string","display":true,"removed":false,"required":false,"displayName":"name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"details_url","type":"string","display":true,"required":false,"displayName":"details_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"reviews","type":"string","display":true,"required":false,"displayName":"reviews","defaultMatch":false,"canBeUsedToMatch":true},{"id":"rating","type":"string","display":true,"required":false,"displayName":"rating","defaultMatch":false,"canBeUsedToMatch":true},{"id":"address","type":"string","display":true,"required":false,"displayName":"address","defaultMatch":false,"canBeUsedToMatch":true},{"id":"appointment_link","type":"string","display":true,"required":false,"displayName":"appointment_link","defaultMatch":false,"canBeUsedToMatch":true},{"id":"category","type":"string","display":true,"required":false,"displayName":"category","defaultMatch":false,"canBeUsedToMatch":true},{"id":"related_terms","type":"string","display":true,"required":false,"displayName":"related_terms","defaultMatch":false,"canBeUsedToMatch":true},{"id":"entity_id","type":"string","display":true,"removed":false,"required":false,"displayName":"entity_id","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"autoMapInputData","matchingColumns":["name"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"52f96cbb-7af2-477f-91dc-9dd305085d5c","name":"Update Google Sheets for Structured Data","type":"n8n-nodes-base.googleSheets","position":[-864,-288],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"Jq09Meog913FLbb3","name":"Google Sheets account"}}},{"parameters":{"jsCode":"return $input.first().json.output"},"id":"b62a2c35-9acf-4224-9a2b-4cb424dfbc54","name":"Code","type":"n8n-nodes-base.code","position":[-1168,-288],"typeVersion":2},{"parameters":{"options":{}},"id":"072b81f9-d0ff-464f-af8b-c6407d79e4c4","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[-864,80],"typeVersion":3},{"parameters":{"promptType":"define","text":"=Extract the Yelp URL and Desc\n\n{{ $json.result.content[0].text }}\n\nMake sure to return the data in JSON","hasOutputParser":true,"batching":{}},"id":"34711628-3881-4d76-9d5f-ea5cd18385da","name":"Search Data Extractor","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-160,96],"retryOnFail":true,"typeVersion":1.7},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"id":"06209f5c-e6fc-43b8-b0a7-427b6a081a8d","name":"Google Gemini Chat Model for Google Search","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-160,272],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"xXOANsLiv8KwOSrY","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"url\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"desc\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"},"id":"18e1ff1b-4983-4ea1-92ed-f23334399ee3","name":"Structured Output Parser for Google Search","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[16,272],"typeVersion":1.2},{"parameters":{},"id":"cb4e4442-0e90-4251-8959-1284875806b4","name":"Wait","type":"n8n-nodes-base.wait","position":[-672,96],"webhookId":"2f6a2861-e0ff-4265-95bc-143f755d0c76","typeVersion":1.1},{"parameters":{"content":"## Disclaimer\nThis template is only available on n8n self-hosted as it's making use of the community node for MCP Client.","height":120,"width":440,"color":3},"id":"8c31a874-2bc0-4501-a239-4ec85a1254f5","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-1200,-992],"typeVersion":1},{"parameters":{},"id":"05100639-a85c-4295-9064-59884cc35c67","name":"MCP Search Client","type":"n8n-nodes-mcp.mcpClient","position":[-432,96],"typeVersion":1,"credentials":{}},{"parameters":{},"id":"f95c9c5b-0872-4904-bdc8-b43098afb7d6","name":"MCP Client for Web Scraping","type":"n8n-nodes-mcp.mcpClient","position":[288,96],"typeVersion":1,"credentials":{}},{"parameters":{"functionCode":"items[0].binary = {\n  data: {\n    data: new Buffer(JSON.stringify(items[0].json, null, 2)).toString('base64')\n  }\n};\nreturn items;"},"id":"ea8a6eba-e274-4ca8-946e-dfbf04f460d6","name":"Create a binary data for Structured Data Extract for Yelp","type":"n8n-nodes-base.function","position":[544,96],"typeVersion":1},{"parameters":{"operation":"write","fileName":"=d:\\Yelp_Response_{{ new Date().toISOString().replace(/[:.]/g, '-')}}.json","options":{}},"id":"103001da-3fa3-4111-8b41-4225514cf5a8","name":"Write the Yelp content to disk","type":"n8n-nodes-base.readWriteFile","position":[784,96],"typeVersion":1},{"parameters":{"content":"## Data Enrichment with Yelp data extraction\n","height":440,"width":1880,"color":5},"id":"378b85b0-678c-46fb-8112-f19103cbf6c2","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-928,-16],"typeVersion":1},{"parameters":{"content":"## Step 1 : Set the Input Fields\n\nurl : https://www.google.com/maps/search/\nwebhook notification url: https://webhook.site/c9118da2-1c54-460f-a83a-e5131b7098db\nsearch : dentists+in+texas/?q=dentists+in+texas\nzone : serp_api1\nstart : 0\nnum : 20\n","height":260,"width":660,"color":6},"id":"516db609-1af9-4966-86d0-91091a4bcbb7","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-352,-832],"typeVersion":1},{"parameters":{"content":"## Step 2 : Set the Credentials\n\nSet the credentials for \n\n1. Bright Data\n2. Google Gemini ","height":260,"width":660,"color":6},"id":"1abbfd8f-0cf6-49de-a745-7841d1589f40","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[368,-832],"typeVersion":1},{"parameters":{"content":"## Step 3 : Configure or Set the Output Nodes\n\n1. Disk location to persist\n2. Google Sheet","height":240,"width":660,"color":6},"id":"060d5c2c-1e0c-4417-967f-df8b35f0096e","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[-352,-512],"typeVersion":1}],"connections":{"Code":{"main":[[{"node":"Update Google Sheets for Structured Data","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"MCP Search Client","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Set input fields":{"main":[[{"node":"Perform Bright Data Web Request","type":"main","index":0}]]},"MCP Search Client":{"main":[[{"node":"Search Data Extractor","type":"main","index":0}]]},"Search Data Extractor":{"main":[[{"node":"MCP Client for Web Scraping","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Google Maps Data Extractor","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Google Maps Data Extractor","type":"ai_outputParser","index":0}]]},"Google Maps Data Extractor":{"main":[[{"node":"Code","type":"main","index":0},{"node":"Create a binary data for Structured Data Extract","type":"main","index":0},{"node":"Initiate a Webhook Notification for Structured Data","type":"main","index":0}]]},"MCP Client for Web Scraping":{"main":[[{"node":"Create a binary data for Structured Data Extract for Yelp","type":"main","index":0}]]},"Write the Yelp content to disk":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Perform Bright Data Web Request":{"main":[[{"node":"Google Maps Data Extractor","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Set input fields","type":"main","index":0}]]},"Google Gemini Chat Model for Google Search":{"ai_languageModel":[[{"node":"Search Data Extractor","type":"ai_languageModel","index":0}]]},"Structured Output Parser for Google Search":{"ai_outputParser":[[{"node":"Search Data Extractor","type":"ai_outputParser","index":0}]]},"Create a binary data for Structured Data Extract":{"main":[[{"node":"Write the structured content to disk","type":"main","index":0}]]},"Create a binary data for Structured Data Extract for Yelp":{"main":[[{"node":"Write the Yelp content to disk","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Search Data Extractor":[{"json":{"output":{"url":"https://www.yelp.com/biz/texas-city-dental-texas-city","desc":"TEXAS CITY DENTAL - Updated May 2025 - 18 Photos Yelp"}}}],"Google Maps Data Extractor":[{"json":{"output":[{"name":"Texas City Dental - Dentist in Texas City","rating":4.8,"address":"3448 Palmer Hwy, Texas City, TX 77590","reviews":674,"category":["Dentist","Dental laboratory","Denture care center","Endodontist","Oral surgeon","Orthodontist","Pediatric dentist","Periodontist","Teeth whitening service"],"entity_id":["9673584215857663405","6574027299904374997"],"details_url":"/g/11h7ftffbx","related_terms":["dentist","cosmetic_dentist","dental_clinic","dental_implants_periodontist","teeth_whitening_service","orthodontist","denture_care_center","pediatric_dentist"],"appointment_link":"https://txcitydental.com/"},{"name":"Texas Dental","rating":4.9,"address":"5132 Village Creek Dr, Plano, TX 75093","reviews":1354,"category":["Dentist","Cosmetic dentist","Dental implants periodontist"],"entity_id":["9677148940277542199","15703975205538868636"],"details_url":"/g/1tgcmpr0","related_terms":["dentist","cosmetic_dentist","dental_clinic"],"appointment_link":"https://patient.modento.io/plano-texas-dental/consult"},{"name":"North Texas Dental","rating":4.9,"address":"2515 Masters St, Sherman, TX 75090","reviews":1623,"category":["Dentist","Dental implants periodontist","Denture care center","Teeth whitening service"],"entity_id":["9677259612218511763","14671019117677462783"],"details_url":"/g/1wd3wg17","related_terms":["dentist","dental_implants_periodontist","denture_care_center","teeth_whitening_service"],"appointment_link":"https://www.ntdsherman.com/#myModal"},{"name":"6 to 9 Dental Texas","rating":4.9,"address":"2603 SE Military Dr Ste 103, San Antonio, TX 78223","reviews":113,"category":["Dentist","Dental clinic","Dental implants provider","Emergency dental service","Endodontist","Oral surgeon","Prosthodontist","Teeth whitening service","Walk-in clinic"],"entity_id":["9681711930004589935","14121951165737821532"],"details_url":"/g/1ts2_px7","related_terms":["dentist","dental_clinic","dental_implants_provider","emergency_dental_service","endodontist","oral_surgeon","prosthodontist","teeth_whitening_service","walk_in_clinic"],"appointment_link":"http://www.vphumphrey2dds.com/"},{"name":"Cosmetic Dental Texas","rating":4.6,"address":"2101 Crawford St STE 103, Houston, TX 77002","reviews":234,"category":["Dentist","Cosmetic dentist","Dental hygienist","Health consultant","Teeth whitening service"],"entity_id":["9673942104093032889","6644082296499224433"],"details_url":"/g/1ts_6_5b","related_terms":["dentist","cosmetic_dentist","dental_hygienist","health_consultant","teeth_whitening_service"],"appointment_link":"https://cosmeticdentaltexas.com/"},{"name":"Texas Dental","rating":4.9,"address":"6206 Farm-To-Market Rd 78, San Antonio, TX 78244","reviews":567,"category":["Dentist","Cosmetic dentist","Dental clinic","Dental hygienist","Dental implants provider","Emergency dental service","Orthodontist","Pediatric dentist","Teeth whitening service"],"entity_id":["9681881174741169099","15832460407262855114"],"details_url":"/g/1tcvv8l5","related_terms":["dentist","cosmetic_dentist","dental_clinic","dental_hygienist","dental_implants_provider","emergency_dental_service","orthodontist","pediatric_dentist","teeth_whitening_service"],"appointment_link":"https://www.texas-dental.com/"},{"name":"Natural Dentistry of North Texas","rating":4.9,"address":"1645 N Town E Blvd #532, Mesquite, TX 75150","reviews":109,"category":["Dentist","Cosmetic dentist","Dental clinic","Dental implants periodontist","Denture care center","Doctor","Emergency dental service","Orthodontist","Pediatric dentist","Teeth whitening service"],"entity_id":["9677855844448877255","6619454455705348065"],"details_url":"/g/1w45608g","related_terms":["dentist","cosmetic_dentist","dental_clinic","dental_implants_periodontist","denture_care_center","doctor","emergency_dental_service","orthodontist","pediatric_dentist","teeth_whitening_service"],"appointment_link":"https://www.naturaldentistryofnorthtexas.com/?utm_source=local&utm_medium=organic&utm_campaign=gmb&utm_term=home"},{"name":"Heart of Texas Smiles General & Cosmetic Dentistry","rating":4.9,"address":"117 Burnett Ct, Waco, TX 76712","reviews":1531,"category":["Dentist","Cosmetic dentist","Dental clinic","Dental hygienist","Dental implants provider","Orthodontist"],"entity_id":["9678099339216434095","2187168089587898937"],"details_url":"/g/12hn7tnrq","related_terms":["dentist","cosmetic_dentist","dental_clinic","dental_hygienist","dental_implants_provider","orthodontist"],"appointment_link":"https://www.wacofamilydental.com/request-an-appointment.html"},{"name":"Smile 4 Texas Dental Center","rating":4.9,"address":"1400 Blalock Rd D1, Houston, TX 77055","reviews":812,"category":["Dentist","Cosmetic dentist","Dental clinic","Dental hygienist","Dental implants provider","Emergency dental service"],"entity_id":["9673948559547960793","10154247486966080020"],"details_url":"/g/1q665w1n4","related_terms":["pediatric_dentist","dental_clinic","dental_implants_periodontist","dentist","endodontist","prosthodontist"],"appointment_link":"http://www.dentalclinicsoftexas.com/"},{"name":"Texas Dental Center","rating":4.9,"address":"9801 Bissonnet St Ste K, Houston, TX 77036","reviews":920,"category":["Dentist","Cosmetic dentist","Dental implants periodontist","Dental clinic","Pediatric dentist"],"entity_id":["9673946025354891219","2619898000467686041"],"details_url":"/g/113fzvfyr","related_terms":["dentist","cosmetic_dentist","dental_implants_periodontist","dental_clinic","pediatric_dentist"],"appointment_link":"https://www.texasdentalcenter.com/?utm_source=GMB&utm_medium=Organic&utm_campaign=LocalBusiness"},{"name":"Ace Dental of Harker Heights","rating":4.6,"address":"300 E Central Texas Expy Suite 300, Harker Heights, TX 76548","reviews":687,"category":["Dentist","Cosmetic dentist","Dental clinic","Dental implants periodontist","Dental implants provider","Emergency dental service","Oral surgeon","Periodontist","Teeth whitening service"],"entity_id":["9674049914126201417","3494220525942607347"],"details_url":"/g/1tdvkknl","related_terms":["dentist","cosmetic_dentist","dental_implants_periodontist","dental_implants_provider","emergency_dental_service","oral_surgeon","periodontist","teeth_whitening_service"],"appointment_link":"https://harkerheights.acedentaloftexas.com/schedule-online"},{"name":"West Texas Dental Associates","rating":5,"address":"3315 64th St STE A, Lubbock, TX 79413","reviews":496,"category":["Dentist","Cosmetic dentist"],"entity_id":["9675220387914363341","14302348036659727856"],"details_url":"/g/11f0x068sr","related_terms":["dentist","cosmetic_dentist"],"appointment_link":"http://www.westtxdental.com/"},{"name":"Central Texas Family Dental","rating":4.9,"address":"4104 E Stan Schlueter Loop #4, Killeen, TX 76542","reviews":188,"category":["Dentist"],"entity_id":["9727332640569304831","9357406137681505810"],"details_url":"/g/1tl8l4rw","related_terms":["dentist"],"appointment_link":"https://www.centexdds.com/"},{"name":"Texas Kids Dental Care","rating":4.8,"address":"3650 Joe Battle Blvd, El Paso, TX 79938","reviews":965,"category":["Dentist"],"entity_id":["9675220924038729639","12674832566120650126"],"details_url":"/g/113ddy7s1","related_terms":["pediatric_dentist","dental_clinic","dental_implants_periodontist","dentist","endodontist","prosthodontist"],"appointment_link":"http://texaskidsdental.com/"},{"name":"Texas Dental Specialists - Dr. Omar Yousuf","rating":4.9,"address":"5940 W Parker Rd STE 103, Plano, TX 75093","reviews":296,"category":["Dentist","Cosmetic dentist","Dental implants provider","Dental clinic","Emergency dental service","Oral surgeon"],"entity_id":["9720815084433700583","17775872543482837529"],"details_url":"/g/11bxgblfk0","related_terms":["dentist","cosmetic_dentist","dental_implants_provider","dental_clinic","emergency_dental_service","oral_surgeon"],"appointment_link":"https://www.texasdentalspecialists.com/"}]}}]},"versionId":"af671abb-05cc-4123-a215-ca8d2781f8ed","triggerCount":0,"shared":[{"updatedAt":"2025-11-17T05:32:05.893Z","createdAt":"2025-11-17T05:32:05.893Z","role":"workflow:owner","workflowId":"1YG5eqdNhGBywUzg","projectId":"U9gNtcfNPVWYu387"}],"tags":[]}