workflows/Instagram - Comments.json
{"updatedAt":"2025-12-06T04:16:38.000Z","createdAt":"2025-12-06T04:16:38.142Z","id":"VJ0eE5RjJ22DmO88","name":"Instagram - Comments","active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"oAuth2","url":"https://api.linkedin.com/v2/ugcPosts/urn%253Ali%253Ashare%253A7401891239068962816/comments","allowUnauthorizedCerts":true,"options":{"fullResponse":false},"headerParametersUi":{"parameter":[{"name":"X-Restli-Protocol-Version","value":"2.0.0"},{"name":"Accept","value":"application/json"}]},"queryParametersUi":{"parameter":[{"name":"countcount","value":"100"},{"name":"start","value":"0"}]}},"name":"LinkedIn: Get Comments (first page)","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-1600,272],"id":"be2b7845-9054-4472-b1ac-4b33efa6f3da","credentials":{"oAuth2Api":{"id":"LWYEmb7TjSLJdMTJ","name":"LinkedIn API"}}},{"parameters":{"functionCode":"const input = items[0].json;\nconst body = input.body || input.data || input;\nconst elements = body.elements || [];\n\nconst out = elements.map(e => {\n  const message = (e.message && (e.message.text || e.message)) || '';\n  const actor = e.actor || null;\n  const created = e.created && e.created.time ? e.created.time : null;\n  \n  // Extract username/author info\n  let username = \"\";\n  let authorName = \"\";\n  \n  if (e['actor~']) {\n    authorName = `${e['actor~'].firstName || ''} ${e['actor~'].lastName || ''}`.trim();\n  }\n  if (e.username) {\n    username = e.username;\n  }\n  if (e.author && e.author.name) {\n    authorName = e.author.name;\n    username = e.author.username || username;\n  }\n  \n  return {\n    json: {\n      commentId: e.id || null,\n      text: typeof message === 'string' ? message : '',\n      actorUrn: actor,\n      created: created,\n      username: username,\n      authorName: authorName,\n      raw: e\n    }\n  };\n});\n\nreturn out;"},"name":"Structure Comments","type":"n8n-nodes-base.function","typeVersion":1,"position":[-1376,272],"id":"d30f2658-6422-4748-9164-59b450602186"},{"parameters":{"conditions":{"number":[],"string":[{"value1":"=true","value2":"=true"}]}},"name":"IF - Interested?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-272,288],"id":"a5a01938-0f08-42f7-b698-162358f00b48"},{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[-1824,272],"id":"dc86ce3c-d7d1-4b46-916e-5bedac5937e8"},{"parameters":{"promptType":"define","text":"=SYSTEM CONTEXT:\nYou are a strict JSON generator for LinkedIn comment classification. You MUST output ONLY valid JSON with NO additional text.\n\nIMPORTANT: \n1. Return the JSON object directly, NOT wrapped in any other object\n2. Do NOT include JSON Schema definitions in output\n\nINPUT DATA:\n- commentId: {{ $json.commentId }}\n- username: {{ $json.username || \"unknown\" }}\n- commentText: \"{{ $json.text }}\"\n\nYOUR TASK:\nAnalyze the LinkedIn comment and determine if the user shows explicit intent to BUY, BUILD, IMPLEMENT, or REQUEST a CRM system.\n\nOUTPUT REQUIREMENTS:\n1. You MUST output EXACTLY ONE JSON object\n2. The JSON MUST follow this EXACT structure:\n**OUTPUT MUST BE EXACTLY THIS OBJECT (no extra fields):**\n{\n  \"commentId\": {{ $json.commentId }},\n  \"username\": \"{{ $json.username }}\",\n  \"interested\": true | false,\n  \"reason\": \"<English, 5-12 words>\",\n  \"confidence\": 0.00\n}\n3. NO markdown, NO backticks, NO arrays, NO explanations, NO extra text\n4. NO JSON Schema definitions - output actual data, not schema\n5. Output ONLY the raw JSON object with actual values\n\nCLASSIFICATION RULES:\n\nCRITERIA FOR interested=true (CRM INTENT POSITIVE):\nThe user MUST explicitly mention CRM AND one of these actions:\n✅ \"Build me a CRM\" or \"Create a CRM\"\n✅ \"Buy a CRM\" or \"Purchase a CRM\"  \n✅ \"Implement a CRM\" or \"Set up a CRM\"\n✅ \"Need a CRM\" + contact request (\"DM me\", \"contact me\", \"call me\")\n✅ \"CRM pricing\" or \"CRM quote\" or \"CRM demo\"\n✅ \"CRM integration\" or \"CRM features\"\n✅ \"Looking for CRM\" or \"Searching for CRM\"\n✅ Non-English equivalents (e.g., \"CRM chahiye\", \"CRM banana hai\")\n\nCRITERIA FOR interested=false (CRM INTENT NEGATIVE OR ABSENT):\n❌ General praise only (\"Great post!\", \"Nice work\", \"Awesome\")\n❌ General questions (\"How does it work?\", \"Can you explain?\")\n❌ Unrelated requests (\"Need website\", \"Mobile app development\")\n❌ Already has CRM (\"We use Salesforce\", \"Our current CRM\")\n❌ Ambiguous statements (\"Maybe CRM\", \"Thinking about CRM\", \"Not sure\")\n❌ Negative statements (\"Don't need CRM\", \"No CRM required\")\n\nFIELD SPECIFICATIONS:\n\n1. \"commentId\": STRING\n   - MUST be exactly \"{{ $json.commentId }}\" from input\n\n2. \"username\": STRING\n   - Copy from input: \"{{ $json.username || \"unknown\" }}\"\n\n3. \"interested\": BOOLEAN\n   - true ONLY if meets CRM intent positive criteria\n   - false for all other cases\n\n4. \"reason\": STRING (5-12 words, English only)\n   - Describe WHY you classified as true/false\n   - Be factual, concise, no fluff\n\n5. \"confidence\": NUMBER (0.00 to 1.00, 2 decimal places)\n   - 0.95-1.00: Very clear intent\n   - 0.85-0.94: Clear intent but slightly ambiguous\n   - 0.60-0.84: Moderate/weak intent\n   - 0.00-0.59: No intent or negative intent\n\nEDGE CASES:\n- Empty/whitespace text → {\"commentId\":\"{{ $json.commentId }}\",\"username\":\"{{ $json.username }}\",\"interested\":false,\"reason\":\"No comment text provided\",\"confidence\":0.0}\n- Non-English comments → Still classify based on CRM keywords\n- Mixed intent (praise + request) → Classify based on CRM request part\n\nEXAMPLE OUTPUTS (NOT SCHEMA):\n- For \"Can you build a CRM for startup?\": {\"commentId\":\"101\",\"username\":\"john-doe\",\"interested\":true,\"reason\":\"Explicit request to build CRM for startup\",\"confidence\":0.97}\n- For \"Nice presentation!\": {\"commentId\":\"102\",\"username\":\"jane-smith\",\"interested\":false,\"reason\":\"General praise without CRM-related intent\",\"confidence\":0.99}\n- For \"Mujhe CRM chahiye\": {\"commentId\":\"103\",\"username\":\"raj-sharma\",\"interested\":true,\"reason\":\"Hindi request for CRM with contact request\",\"confidence\":0.92}\n\nNOW CLASSIFY THIS COMMENT:\ncommentId: {{ $json.commentId }}\nusername: {{ $json.username }}\ncommentText: \"{{ $json.text }}\"\n\nOUTPUT ONLY RAW JSON WITH ACTUAL VALUES:","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-1168,272],"id":"06512034-4026-4f31-90f1-5d42f4eeff7e","name":"AI Agent","notes":"Response Format: JSON Schema\nJSON Schema: \n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"commentId\": {\"type\": \"string\"},\n    \"username\": {\"type\": \"string\"},\n    \"interested\": {\"type\": \"boolean\"},\n    \"reason\": {\"type\": \"string\"},\n    \"confidence\": {\"type\": \"number\"}\n  },\n  \"required\": [\"commentId\", \"username\", \"interested\", \"reason\", \"confidence\"]\n}"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1312,480],"id":"1a1750b7-522d-4c13-9ab0-edc6a9ca1a34","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"xXOANsLiv8KwOSrY","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"// Parse clean AI response (no \"output\" wrapper expected)\nconst aiResponse = items[0].json;\n\nconsole.log(\"DEBUG - Raw AI Response:\", JSON.stringify(aiResponse, null, 2));\n\n// AI should now return clean JSON like:\n// {\"commentId\":\"123\",\"username\":\"john\",\"interested\":true,\"reason\":\"...\",\"confidence\":0.95}\n\nlet classification = aiResponse;\n\n// If somehow still wrapped, handle it\nif (aiResponse.output) {\n  console.log(\"WARNING: Still getting 'output' wrapper\");\n  try {\n    classification = JSON.parse(aiResponse.output.replace(/\\\\\"/g, '\"'));\n  } catch(e) {\n    classification = { error: \"Parse failed\", raw: aiResponse };\n  }\n}\n\n// Get original comment\nconst originalComment = $input.all()[0].json;\n\nconst result = {\n  commentId: classification.commentId || originalComment.commentId,\n  username: classification.username || originalComment.username || \"unknown\",\n  text: originalComment.text || \"\",\n  actorUrn: originalComment.actorUrn || \"\",\n  created: originalComment.created || null,\n  interested: classification.interested || false,\n  reason: classification.reason || \"No reason provided\",\n  confidence: classification.confidence || 0.0\n};\n\nreturn [{ json: result }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-816,272],"id":"324800b7-8491-4246-86eb-2b27a1fd0034","name":"Code in JavaScript"},{"parameters":{"jsCode":"// Debug: Check what's reaching IF node\nconsole.log(\"IF Node Input:\", JSON.stringify(items[0].json, null, 2));\nconsole.log(\"interested value:\", items[0].json.interested);\nconsole.log(\"interested type:\", typeof items[0].json.interested);\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,288],"id":"034dee11-a5fa-4d70-bbdf-9c364cbde184","name":"debug"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1T8Fg2HGWYxdahwxPN85pbqDWfEAkR74mgmwAdnWdHK8","mode":"list","cachedResultName":"LinkedIn Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1T8Fg2HGWYxdahwxPN85pbqDWfEAkR74mgmwAdnWdHK8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1T8Fg2HGWYxdahwxPN85pbqDWfEAkR74mgmwAdnWdHK8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Sno":"==ROW()-1","Comment ID":"={{ $json.commentId }}","User Name":"={{ $json.username }}","Interested":"={{ $json.interested }}","Remarks":"={{ $json.reason }}","Confidence":"={{ $json.confidence }}"},"matchingColumns":[],"schema":[{"id":"Sno","displayName":"Sno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Comment ID","displayName":"Comment ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post ID","displayName":"Post ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"User Name","displayName":"User Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Interested","displayName":"Interested","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Remarks","displayName":"Remarks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Confidence","displayName":"Confidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[0,0],"id":"ee1b93d3-94e9-47a4-b407-45fdbb6f8abf","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Jq09Meog913FLbb3","name":"Google Sheets account"}}}],"connections":{"LinkedIn: Get Comments (first page)":{"main":[[{"node":"Structure Comments","type":"main","index":0}]]},"Structure Comments":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"IF - Interested?":{"main":[[],[{"node":"Append row in sheet","type":"main","index":0}]]},"Start":{"main":[[{"node":"LinkedIn: Get Comments (first page)","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Code in JavaScript":{"main":[[{"node":"debug","type":"main","index":0}]]},"debug":{"main":[[{"node":"IF - Interested?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"LinkedIn: Get Comments (first page)":[{"json":{"elements":[{"actor":"urn:li:person:abc123","created":{"actor":"urn:li:person:abc123","time":1735903100000},"id":"1234567890","message":{"text":"Can you build a CRM like this for my sales team?"},"object":"urn:li:share:7401891239068962816","username":"john-doe-abc123","authorName":"John Doe"}]}}]},"versionId":"930c6018-6395-4704-9353-17132be33620","triggerCount":0,"shared":[{"updatedAt":"2025-12-06T04:16:38.151Z","createdAt":"2025-12-06T04:16:38.151Z","role":"workflow:owner","workflowId":"VJ0eE5RjJ22DmO88","projectId":"U9gNtcfNPVWYu387"}],"tags":[]}