workflows/Invoice.json
{"updatedAt":"2025-11-06T12:26:05.452Z","createdAt":"2025-11-06T12:26:05.452Z","id":"SD65YKaYAKDjErkx","name":"Invoice","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"name\": \"Jono\",\n  \"email\": \"jonocatliff@gmail.com\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[656,-96],"id":"b8283e2c-ad5a-40f0-9f58-017e86d592ea","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/hooks/YSbF1AQMdKi3GOFfqwTQ/webhook-trigger/<Your_URL_Here>","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.name }}"},{"name":"email","value":"={{ $json.email }}"},{"name":"webhook_url","value":"={{ $execution.resumeUrl }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[928,-96],"id":"c56cecb6-dfb1-4807-b5c5-bbac027719ae","name":"HTTP Request"},{"parameters":{"resume":"webhook","httpMethod":"POST","options":{}},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1136,-96],"id":"ab8f51b1-0c61-4fcd-83d9-33d455102ac3","name":"Wait","webhookId":"c722de89-86b5-40dc-aa25-99f6bda09620"},{"parameters":{"assignments":{"assignments":[{"id":"8940549f-ee2a-4e6a-8d01-88a7049ba7d0","name":"invoice","value":"={{ $json.body.customData.invoice }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,-96],"id":"8eef5f3d-f125-40c1-b290-e5c066a389e1","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"name":"Jono","email":"jonocatliff@gmail.com"}}]},"versionId":"449ec580-bd9d-417e-a7c2-80085270f5b5","triggerCount":0,"shared":[{"updatedAt":"2025-11-06T12:26:05.467Z","createdAt":"2025-11-06T12:26:05.467Z","role":"workflow:owner","workflowId":"SD65YKaYAKDjErkx","projectId":"U9gNtcfNPVWYu387"}],"tags":[]}