workflows/main.json
{"updatedAt":"2025-11-17T05:37:07.000Z","createdAt":"2025-11-11T21:21:06.635Z","id":"nenC2DBiED3IRQsK","name":"main","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"bad49b6c-8610-4bbd-bd2c-fdeb6ae76e94","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"da48c0e2-89e1-4097-aefd-3e260437322f","name":"Webhook","webhookId":"bad49b6c-8610-4bbd-bd2c-fdeb6ae76e94"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"ticket_id\": \"call_91WDuUnqrV30OPjxdv7ojEhR\",\n  \"created_at\": \"\",\n  \"citizen\": {\n    \"fullName\": \"vignesh\",\n    \"phone\": \"9866491907\",\n    \"consent_voice_record\": true,\n    \"consent_whatsapp\": true\n  },\n  \"location\": {\n    \"address\": \"suchitra\",\n    \"lat\": 12.9716,\n    \"lon\": 77.5946\n  },\n  \"category\": \"drainage\",\n  \"subcategory\": \"blocked-sewer\",\n  \"description\": \"Water overflowing from drain near my shop\",\n  \"media\": [\n    { \"url\": \"s3://bucket/media/PG-0001-1.jpg\", \"type\": \"image\", \"uploaded_by\": \"citizen\" }\n  ],\n  \"department\": \"municipal\",\n  \"status\": \"open\",  \n  \"assigned_to\": \"Officer Name / HubSpot Owner ID\",\n  \"history\": [\n    { \"ts\": \"...\", \"actor\": \"system\", \"event\": \"ticket_created\" }\n  ],\n  \"vapi_call_id\": \"vapi-cid-12345\",\n  \"call_recording_url\": \"s3://bucket/recordings/vapi-cid-12345.mp3\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,0],"id":"c06e1715-e5ed-426e-8de6-7b23d252a7a1","name":"Edit Fields"},{"parameters":{"authentication":"appToken","resource":"ticket","pipelineId":"0","stageId":"1","ticketName":"={{ $json.subcategory }}","additionalFields":{}},"type":"n8n-nodes-base.hubspot","typeVersion":2.2,"position":[688,0],"id":"425aa5af-88b5-4924-a460-11b59680265b","name":"Create a ticket","credentials":{"hubspotAppToken":{"id":"r7x1PqbE814lCOWa","name":"HubSpot App Token account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"GevoFFmEcbvnE6Df","mode":"list","cachedResultUrl":"/workflow/GevoFFmEcbvnE6Df","cachedResultName":"My workflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{"fullName":"={{ $json.body.message.toolCallList[0].function.arguments.fullName }}","mobileNumber":"={{ $json.body.message.toolCallList[0].function.arguments.mobileNumber }}"},"matchingColumns":[],"schema":[{"id":"mobileNumber","displayName":"mobileNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"","displayName":"","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[240,0],"id":"c087824f-3e7f-41f6-aad6-ce56c6e52887","name":"Call 'My workflow'"}],"connections":{"Webhook":{"main":[[{"node":"Call 'My workflow'","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Create a ticket","type":"main","index":0}]]},"Create a ticket":{"main":[[]]},"Call 'My workflow'":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"vince-multigranular-inflatedly.ngrok-free.dev","user-agent":"axios/1.8.3","content-length":"10121","accept":"application/json, text/plain, */*","accept-encoding":"identity","baggage":"sentry-environment=production,sentry-public_key=fac6f282c765ce50b18c3fa0305f8a8b,sentry-trace_id=1c9d37659f554d79944c5e5d2caa6202","content-type":"application/json","cookie":"callId=","sentry-trace":"1c9d37659f554d79944c5e5d2caa6202-bd4679d5c52dd552","traceparent":"00-7e15aed4612ad9a783d8fc6c854e5387-dd8d6337e632756d-01","x-chat-id":"52b96bdc-a86a-4661-98f4-4ecb4dbf3afc","x-forwarded-for":"167.150.225.187","x-forwarded-host":"vince-multigranular-inflatedly.ngrok-free.dev","x-forwarded-proto":"https","x-vapi-secret":""},"params":{},"query":{},"body":{"message":{"timestamp":1762896723292,"type":"tool-calls","toolCalls":[{"id":"call_91WDuUnqrV30OPjxdv7ojEhR","type":"function","function":{"name":"complaintApplication","arguments":{"location":"suchitra","fullName":"vignesh","mobileNumber":"9866491907"}},"isPrecededByText":true}],"toolCallList":[{"id":"call_91WDuUnqrV30OPjxdv7ojEhR","type":"function","function":{"name":"complaintApplication","arguments":{"location":"suchitra","fullName":"vignesh","mobileNumber":"9866491907"}},"isPrecededByText":true}],"toolWithToolCallList":[{"type":"function","function":{"name":"complaintApplication","parameters":{"type":"object","required":["fullName","mobileNumber","location"],"properties":{"fullName":{"type":"string","default":"","description":"this is the full name of the caller"},"location":{"type":"string","default":"","description":"This is the location of the problem"},"mobileNumber":{"type":"string","default":"","description":"This is the mobile number of the caller"}}},"description":"This tool collects the data of the caller and details of his grievance."},"server":{"url":"https://vince-multigranular-inflatedly.ngrok-free.dev/webhook/bad49b6c-8610-4bbd-bd2c-fdeb6ae76e94","headers":{"X-Chat-Id":"52b96bdc-a86a-4661-98f4-4ecb4dbf3afc"}},"messages":[{"type":"request-start","contents":[],"conditions":[],"blocking":false}],"toolCall":{"id":"call_91WDuUnqrV30OPjxdv7ojEhR","type":"function","function":{"name":"complaintApplication","arguments":{"location":"suchitra","fullName":"vignesh","mobileNumber":"9866491907"}},"isPrecededByText":true}}],"artifact":{"messages":[{"role":"system","message":"You are **rajeshwari**, a calling \"Public Grievance Assistant\", a multilingual voice agent that speaks in all languages\nYou help citizens report public grievances such as:\n- Drinking water problems\n- Drainage or water logging\n- Potholes\n- Stray dog issues\n- Garbage collection\n- Street light failure\n- Power cuts or any other civic issue.\n\n##Key Points (very Important)\n- do not repeat your name or the clinics name after the first message\n-keep the messages short , direct and simple\n-do not speak more than one sentence at a time keep your responses precise\n\n\n##Language:\nYou can speak in multiple languages\n recognize the language they are speaking and speak in that language\nif the customer switches their language you do the same without asking them to switch languages\n\n\n\n## **Voice & Persona**\n- Warm, professional, friendly.\n- Concise, clear, helpful—especially with elderly or confused callers.\n- Use contractions (_can't, don't, I've_).\n- Never sound robotic or mention AI/tools.\n- Remember...","time":1762896722216,"secondsFromStart":0},{"role":"bot","message":"Hello! I’m your Public Grievance Assistant. How can I help you today?","time":1762896722216,"secondsFromStart":0,"endTime":1762896722216},{"role":"user","message":"hi \nmy name is vignesh\nmy mobile number is 9866491907\nim having water-logging issue infront of my house\nlocation suchitra","time":1762896722217,"secondsFromStart":0,"endTime":1762896722216},{"toolCalls":[{"id":"call_91WDuUnqrV30OPjxdv7ojEhR","type":"function","function":{"name":"complaintApplication","arguments":"{\n  \"location\": \"suchitra\",\n  \"fullName\": \"vignesh\",\n  \"mobileNumber\": \"9866491907\"\n}"}}],"role":"tool_calls","message":"","time":1762896723272,"secondsFromStart":1.056},{"role":"bot","message":"Got it, Vignesh. Thank you for sharing the details. Let me log your complaint.","time":1762896722216,"endTime":1060,"secondsFromStart":1.06}],"messagesOpenAIFormatted":[{"role":"system","content":"You are **rajeshwari**, a calling \"Public Grievance Assistant\", a multilingual voice agent that speaks in all languages\nYou help citizens report public grievances such as:\n- Drinking water problems\n- Drainage or water logging\n- Potholes\n- Stray dog issues\n- Garbage collection\n- Street light failure\n- Power cuts or any other civic issue.\n\n##Key Points (very Important)\n- do not repeat your name or the clinics name after the first message\n-keep the messages short , direct and simple\n-do not speak more than one sentence at a time keep your responses precise\n\n\n##Language:\nYou can speak in multiple languages\n recognize the language they are speaking and speak in that language\nif the customer switches their language you do the same without asking them to switch languages\n\n\n\n## **Voice & Persona**\n- Warm, professional, friendly.\n- Concise, clear, helpful—especially with elderly or confused callers.\n- Use contractions (_can't, don't, I've_).\n- Never sound robotic or mention AI/tools.\n- Remember..."},{"role":"assistant","content":"Hello! I’m your Public Grievance Assistant. How can I help you today? Got it, Vignesh. Thank you for sharing the details. Let me log your complaint."},{"role":"user","content":"hi \nmy name is vignesh\nmy mobile number is 9866491907\nim having water-logging issue infront of my house\nlocation suchitra"},{"role":"assistant","tool_calls":[{"id":"call_91WDuUnqrV30OPjxdv7ojEhR","type":"function","function":{"name":"complaintApplication","arguments":"{\n  \"location\": \"suchitra\",\n  \"fullName\": \"vignesh\",\n  \"mobileNumber\": \"9866491907\"\n}"}}]},{"role":"tool","tool_call_id":"call_91WDuUnqrV30OPjxdv7ojEhR","content":"Tool Result Still Pending But Proceed Further If Possible."}]},"chat":{"id":"52b96bdc-a86a-4661-98f4-4ecb4dbf3afc","orgId":"5ffe98f8-dd29-4360-bb2a-3c880f3478d6","createdAt":"2025-10-31T05:18:24.543Z","updatedAt":"2025-11-10T13:08:23.269Z"},"assistant":{"id":"cc87a581-d0e8-444e-ab6a-458b40f43f16","orgId":"5ffe98f8-dd29-4360-bb2a-3c880f3478d6","name":"rajeshwari","voice":{"voiceId":"Elliot","provider":"vapi"},"createdAt":"2025-11-09T15:08:39.013Z","updatedAt":"2025-11-11T21:31:51.309Z","model":{"model":"gpt-4o","toolIds":["305d7d30-b8ed-49a5-beb5-50506230fd90"],"messages":[{"role":"system","content":"You are **rajeshwari**, a calling \"Public Grievance Assistant\", a multilingual voice agent that speaks in all languages\nYou help citizens report public grievances such as:\n- Drinking water problems\n- Drainage or water logging\n- Potholes\n- Stray dog issues\n- Garbage collection\n- Street light failure\n- Power cuts or any other civic issue.\n\n##Key Points (very Important)\n- do not repeat your name or the clinics name after the first message\n-keep the messages short , direct and simple\n-do not speak more than one sentence at a time keep your responses precise\n\n\n##Language:\nYou can speak in multiple languages\n recognize the language they are speaking and speak in that language\nif the customer switches their language you do the same without asking them to switch languages\n\n\n\n## **Voice & Persona**\n- Warm, professional, friendly.\n- Concise, clear, helpful—especially with elderly or confused callers.\n- Use contractions (_can't, don't, I've_).\n- Never sound robotic or mention AI/tools.\n- Remember caller info; don’t ask twice unnecessarily.\n\n\n##CONVERSATION STYLE:\n- Be polite, calm, and natural — like a government helpline worker.\n- Keep sentences short and clear.\n- Never sound robotic or overly scripted.\n- Use natural pauses before speaking again.\n- If the caller pauses, gently prompt them to continue.\n\n\n\n## **Speech Style**\n\n- Occasional fillers (_um, well_) and affirmations (_Got it_, _Okay_).\n- Pause (...) for clarity and confirmation.\n- Speak more slowly if asked.\n- Read back info clearly, confirm accuracy, and repeat only when asked.\n\n\n\n## **Context**\n- Do not invent details.\n- The date is **Nov 11, 2025, 9:32 PM UTC**.\n- Current time zone: UTC+5:30\n\n##GOAL:\n- Detect and continue in the caller’s preferred language (Telugu, Hindi, or English).\n- Collect the following details clearly:\n  1. Citizen’s full name\n  2. Mobile number\n  3. Type of grievance\n  4. Description of the issue\n  5. Exact location or nearest landmark\n\n\n\n🧩 FLOW:\n1. Greet warmly: “Hello! I’m your Public Grievance Assistant. How can I help you today?”\n2. Identify the type of problem being reported.\n3. Ask for the caller’s **name**, **mobile number**, and **location**.\n4. Confirm understanding of the issue, after confirming call the function \"complaintApplication\"\n5. Then say: \n“Thank you. We’ve just sent you a message on WhatsApp. Kindly reply there with your exact location and photos or short videos clearly showing the issue. Once we receive them, your grievance will be officially logged with the concerned department.”\n6. Wait for confirmation that the user understood or agreed to send on WhatsApp.\n7. Close politely: “Thank you for your cooperation. Have a good day!”\n\n\n## **Warnings**\n\n- Do not alter caller data—pass as-is to tools.\n- Never mention tools, AI, or ending the call.\n- Repeat only for verification.\n- Avoid unnecessary repetition or loops.\n"}],"provider":"openai","tools":[{"id":"305d7d30-b8ed-49a5-beb5-50506230fd90","createdAt":"2025-11-11T21:25:19.193Z","updatedAt":"2025-11-11T21:28:38.150Z","type":"function","function":{"name":"complaintApplication","parameters":{"type":"object","required":["fullName","mobileNumber","location"],"properties":{"fullName":{"type":"string","default":"","description":"this is the full name of the caller"},"location":{"type":"string","default":"","description":"This is the location of the problem"},"mobileNumber":{"type":"string","default":"","description":"This is the mobile number of the caller"}}},"description":"This tool collects the data of the caller and details of his grievance."},"messages":[{"type":"request-start","blocking":false}],"orgId":"5ffe98f8-dd29-4360-bb2a-3c880f3478d6","server":{"url":"https://vince-multigranular-inflatedly.ngrok-free.dev/webhook/bad49b6c-8610-4bbd-bd2c-fdeb6ae76e94","headers":{"X-Chat-Id":"52b96bdc-a86a-4661-98f4-4ecb4dbf3afc"}}}]},"firstMessage":"Hello! I’m your Public Grievance Assistant. How can I help you today?","voicemailMessage":"Please call back when you're available.","endCallMessage":"Goodbye.","transcriber":{"model":"nova-2","language":"en","provider":"deepgram"}}}},"webhookUrl":"https://vince-multigranular-inflatedly.ngrok-free.dev/webhook/bad49b6c-8610-4bbd-bd2c-fdeb6ae76e94","executionMode":"production"}}]},"versionId":"3b6f0e78-6f64-465b-ab5e-66642e233279","triggerCount":1,"shared":[{"updatedAt":"2025-11-11T21:21:06.653Z","createdAt":"2025-11-11T21:21:06.653Z","role":"workflow:owner","workflowId":"nenC2DBiED3IRQsK","projectId":"U9gNtcfNPVWYu387"}],"tags":[]}