workflows/My workflow 4.json
{"updatedAt":"2025-12-14T17:14:42.000Z","createdAt":"2025-12-14T17:14:42.592Z","id":"VuXvm8oLPZdjbqJ7","name":"My workflow 4","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"460fb58b-f220-48bb-828e-01d9a4d034f3","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[480,80],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":731.7039821513649,"width":1910.7813046051347,"color":6},"id":"1cfa3ffe-392a-461e-94f2-9eb0f5bd128e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,464],"typeVersion":1},{"parameters":{},"id":"f07c9a87-f5e5-44fe-8451-fc8610184ebf","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[64,848],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"4b602803-9cc9-4dc1-9380-6d1e34c6f31a","name":"n8n","type":"n8n-nodes-base.n8n","position":[880,192],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"9022066c-af33-42f7-8659-5ec171f10c91","name":"Return","type":"n8n-nodes-base.set","position":[1728,672],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"55752876-0eb3-42fe-87b3-19abced94c52","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[688,544],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"fc6133ec-ad33-4485-8199-a1624a957f3a","name":"If file too large","type":"n8n-nodes-base.if","position":[448,560],"typeVersion":2},{"parameters":{},"id":"e6a74636-b17b-4572-9122-05c910f61e11","name":"Merge Items","type":"n8n-nodes-base.merge","position":[448,832],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"},"id":"24b83a1b-d44c-4a2e-a3d8-6bb4e3100db2","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[640,832],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"77429f69-aafc-4204-9542-c3f24be73324","name":"Check Status","type":"n8n-nodes-base.switch","position":[1040,832],"typeVersion":1},{"parameters":{},"id":"bcc2ede0-90bd-4394-aa85-a6c0b74ffe53","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1264,672],"typeVersion":1},{"parameters":{},"id":"808253b8-591f-4229-af81-7ca48e52f466","name":"File is different","type":"n8n-nodes-base.noOp","position":[1264,832],"typeVersion":1},{"parameters":{},"id":"885cac40-8557-460a-8c32-591e700de748","name":"File is new","type":"n8n-nodes-base.noOp","position":[1264,1024],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"c743c421-2cca-4081-b1d8-54ffa6214fae","name":"Create new file","type":"n8n-nodes-base.github","position":[1488,1024],"typeVersion":1,"webhookId":"8c701281-60db-4892-bd04-4e79ecb37e22"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"f1cbbae1-9d65-45d4-941a-89ee157e4ac0","name":"Edit existing file","type":"n8n-nodes-base.github","position":[1488,832],"typeVersion":1,"webhookId":"45901615-df99-4b78-920a-2859166eba7e"},{"parameters":{"options":{}},"id":"fc123005-bcae-44b4-bb1e-0a51b1e63856","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1088,192],"typeVersion":3},{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":33}]}},"id":"981bdb35-24bd-44c2-bebf-711805454f6f","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[480,288],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"dae43d3b-56e5-4098-b602-862ebf5cd073","name":"subPath","type":"string","value":"={{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/"}]},"includeOtherFields":true,"options":{}},"id":"c3469083-0a1e-49ba-95dc-f4fd7ea738c9","name":"Create sub path","type":"n8n-nodes-base.set","position":[848,832],"typeVersion":3.3},{"parameters":{"content":"## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.","height":417,"width":385,"color":4},"id":"5844385f-a74c-497b-969c-763166ba8999","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## Main workflow loop","height":416.1856906618075,"width":1272.6408145680155,"color":7},"id":"791e5457-c9ea-40b5-bd95-4cffdc931eec","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[448,0],"typeVersion":1},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#notifications"},"text":"=:information_source:  Starting Workflow Backup [{{ $execution.id }}]","otherOptions":{"includeLinkToWorkflow":false}},"id":"245b2a6d-f3ff-4cd1-be08-05b87ed8e56c","name":"Starting Message","type":"n8n-nodes-base.slack","position":[720,192],"webhookId":"c02eb407-5547-4aa0-9ebf-46dab67b63b6","typeVersion":2.2},{"parameters":{"workflowId":"={{ $workflow.id }}","mode":"each","options":{}},"id":"b53dee5e-9121-46e6-b982-de867241df2f","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[1312,208],"typeVersion":1,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#notifications"},"text":"=✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.","otherOptions":{}},"id":"9cf256c0-bc86-4309-9317-bb06a5199e5f","name":"Completed Notification","type":"n8n-nodes-base.slack","position":[1312,32],"webhookId":"a0c6e8c8-5d71-40fa-b02b-63a7ed5726c4","executeOnce":true,"typeVersion":2.2},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#notifications"},"text":"=:x: Failed to backup {{ $('Loop Over Items').item.json.id }}","otherOptions":{"includeLinkToWorkflow":false}},"id":"93f65f0e-65d5-4b01-a1bd-f9ab2c743976","name":"Failed Flows","type":"n8n-nodes-base.slack","position":[1504,224],"webhookId":"2a092edb-de12-490f-931b-34d70e7d7696","typeVersion":2.2},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"688c7e65-392c-4d93-a975-d9dbcc46fc08","name":"Get file data","type":"n8n-nodes-base.github","position":[240,560],"typeVersion":1,"alwaysOutputData":true,"webhookId":"d52dcd6f-a58d-4ba3-aeea-99306f2350ca","continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"8f6d1741-772f-462a-811f-4c334185e4f0","name":"repo_owner","type":"string","value":"={{ $vars.repo_owner }}"},{"id":"8cac215c-4fd7-422f-9fd2-6b2d1e5e0383","name":"repo_name","type":"string","value":"={{ $vars.repo_name }}"},{"id":"eee305e9-4164-462a-86bd-80f0d58a31ae","name":"repo_path","type":"string","value":"={{ $vars.repo_path }}"}]},"includeOtherFields":true,"options":{}},"id":"e755b956-b153-488a-96a8-b218d348693f","name":"Config","type":"n8n-nodes-base.set","position":[240,848],"typeVersion":3.4}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Config":{"main":[[{"node":"Get file data","type":"main","index":0},{"node":"Merge Items","type":"main","index":1}]]},"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Create sub path","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Failed Flows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Create sub path":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Completed Notification","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Failed Flows","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Starting Message":{"main":[[{"node":"n8n","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"01fac54c-9fea-4296-a488-eb89e6c95c76","triggerCount":0,"shared":[{"updatedAt":"2025-12-14T17:14:42.603Z","createdAt":"2025-12-14T17:14:42.603Z","role":"workflow:owner","workflowId":"VuXvm8oLPZdjbqJ7","projectId":"U9gNtcfNPVWYu387"}],"tags":[]}