workflows/reschedule_appointment.json
{"updatedAt":"2025-11-14T06:46:40.000Z","createdAt":"2025-10-27T19:48:35.719Z","id":"KKL6YiMzD1PkmBfA","name":"reschedule_appointment","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"appointmentId"},{"name":"appointmentDate"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[272,16],"id":"31eaada9-2f8f-4cbc-a97e-7025c992f2af","name":"When Executed by Another Workflow","notesInFlow":true},{"parameters":{"method":"POST","url":"=https://api.cal.com/v2/bookings/{{ $json.appointmentId }}/reschedule","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"cal-api-version","value":"2024-08-13"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"start","value":"={{ $json.appointmentDate }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[496,16],"id":"976d9d61-35b2-47a7-ba46-dcde34b407bc","name":"HTTP Request","alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"H8shXxQQRFprA2Vt","name":"Header Auth account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"13Nc_RyuES7d-OnG8cHB5TNA9UMnQx6nX6iWaqFRHbLk","mode":"list","cachedResultName":"Appointments","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13Nc_RyuES7d-OnG8cHB5TNA9UMnQx6nX6iWaqFRHbLk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tmx7cSWXhfzadpF_C9MlNCPXIWzsZO_tQKFr2eQf4yY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Appointment ID":"={{ $('HTTP Request').item.json.data.uid }}","Date":"={{ $json.Date }}","row_number":"={{ $json.row_number }}","Email":"={{ $json.Email }}","First Name":"={{ $json['First Name'] }}","Last Name":"={{ $json['Last Name'] }}","Phone Number":"={{ $json['Phone Number'] }}"},"matchingColumns":["row_number"],"schema":[{"id":"Appointment ID","displayName":"Appointment ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[944,16],"id":"0a905ad6-0223-4199-a465-3f4dfdb3ed41","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"A93SEgEFhN0uUEvn","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"13Nc_RyuES7d-OnG8cHB5TNA9UMnQx6nX6iWaqFRHbLk","mode":"list","cachedResultName":"Appointments","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13Nc_RyuES7d-OnG8cHB5TNA9UMnQx6nX6iWaqFRHbLk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13Nc_RyuES7d-OnG8cHB5TNA9UMnQx6nX6iWaqFRHbLk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Appointment ID","lookupValue":"={{ $json.data.uid }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[720,16],"id":"8d0b1061-a3df-471d-83fa-923124e6a1c0","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"A93SEgEFhN0uUEvn","name":"Google Sheets account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"appointmentId":"pAd8SmoETj6rWP37VCX6sX","appointmentDate":"2025-10-18T03:30:00+05:30"}}]},"versionId":"ab787e65-0e5d-42d5-9ff9-e80d99dbe96a","triggerCount":0,"shared":[{"updatedAt":"2025-10-27T19:48:35.727Z","createdAt":"2025-10-27T19:48:35.727Z","role":"workflow:owner","workflowId":"KKL6YiMzD1PkmBfA","projectId":"U9gNtcfNPVWYu387"}],"tags":[]}